{% extends "/base.html" %}
{% set active_menu = "project" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <span class="set-main-bg" data-bg="pattern-white-wall"></span>
    {{ render_local_nav(current_user, 'export', project.short_name) }}
    <div class="container-padded">
        <div class="container container-padded">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    {% include "_flash_messages.html" %}
                    {{ helper.render_project_title(project, upload_method, subtitle=_('Export Tasks'))}}
                    {{ helper.render_loading("Exporting data, this may take a while, please wait...") }}
                    <h3 class="text-inset-grey">Export Raw CSV Data</h3>
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='csv')}}" rel="nofollow">
                                <div class="well">
                                    <i class="fa fa-file-excel-o fa-4x"></i> 
                                    <h3  class="margin-bottom-xs">{{_('Tasks')}}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='csv')}}" rel="nofollow">
                                <div class="well">
                                    <i class="fa fa-file-excel-o fa-4x"></i> 
                                    <h3  class="margin-bottom-xs">{{_('Contributions')}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <h3 class="text-inset-grey padding-top-sm">Export Raw JSON Data</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='json')}}" rel="nofollow">
                                <div class="well">
                                    <i class="fa fa-code fa-4x"></i> 
                                    <h3  class="margin-bottom-xs">{{_('Tasks')}}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='json')}}" rel="nofollow">
                                <div class="well">
                                    <i class="fa fa-code fa-4x"></i> 
                                    <h3  class="margin-bottom-xs">{{_('Contributions')}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <h3 class="text-inset-grey padding-top-sm">Export Formatted Data</h3>   
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ url_for('blplugin.export_formatted', short_name=project.short_name) }}" rel="nofollow">
                                <div class="well">
                                    <i class="fa fa-code fa-4x"></i> 
                                    <h3  class="margin-bottom-xs">{{_('Contributions')}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
{% endblock %}
