{% extends "/base.html" %}
{% set active_menu = "project" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<span class="set-body-bg" data-bg="pattern-white-wall"></span>
{{ helper.render_project_local_nav(project, 'export', current_user, pro_features, staff_or_admin) }}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            {{ helper.render_project_title(project, subtitle="Export Tasks")}}
            {{ helper.render_loading("Exporting data, this may take a while, please wait...") }}
            <h3 class="text-inset-grey">Export Raw CSV Data</h3>
            <div class="row">

                <div class="col-sm-6">
                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='csv')}}" rel="nofollow">
                        <div class="well well-link">
                            <i class="fa fa-file-excel-o fa-4x"></i>
                            <h3  class="margin-bottom-xs">Tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='csv')}}" rel="nofollow">
                        <div class="well well-link">
                            <i class="fa fa-file-excel-o fa-4x"></i>
                            <h3  class="margin-bottom-xs">Contributions</h3>
                        </div>
                    </a>
                </div>
            </div>

            <h3 class="text-inset-grey padding-top-sm">Export Raw JSON Data</h3>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='json')}}" rel="nofollow">
                        <div class="well well-link">
                            <i class="fa fa-code fa-4x"></i>
                            <h3  class="margin-bottom-xs">Tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='json')}}" rel="nofollow">
                        <div class="well well-link">
                            <i class="fa fa-code fa-4x"></i>
                            <h3  class="margin-bottom-xs">Contributions</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}
