{% extends "/base.html" %}
{% set active_page = "create" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}
{% from "admin/_helpers.html" import render_local_nav %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{{ render_local_nav(current_user, "newproject") }}
<div class="container-padded">
    <div class="container container-padded">
        {% if current_user.admin %}
        <div id="project-form" class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {% include "_flash_messages.html" %}
                    <h4 class="text-center">Create a new project</h4>
                    <form role="form" method="post" action="{{ url_for('project.new')}}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        {{ render_field(form.name, placeholder="Name", class="form-control", required="required", autofocus="autofocus") }}
                        {{ render_field(form.short_name, placeholder="Abbreviated name for the project", label_text="Short name:", class="form-control", required="required") }}
                        {{ render_field(form.long_description, rows="13", placeholder="Long description:

                        · Describe the purpose of the project and what it aims to achieve.
                        · Explain how the project works and how volunteers can help.
                        · Highlight the reasons why volunteers contributions are essential.

                        You can use Markdown to format your description.", class="form-control hidden", required="required") }}
                         <div id="epiceditor" class="form-control" data-textarea="long_description"></div>
                        <div class="pull-right" role="group">
                            <a href="{{url_for('account.profile', name=current_user.name)}}" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </fieldset>
                </form>
                </div>
            </div>
            {% else %}
                {{ project_helper.render_project_restricted() }}
            {% endif %}
        </div>
    </div>

<script>
    $("span[rel='tooltip']").tooltip();
    $("i[rel='tooltip']").tooltip();
</script>
<script src="{{url_for('static', filename='vendor/EpicEditor-v0.2.2/js/epiceditor.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='vendor/jquery.textchange.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/forms.js')}}" type="text/javascript"></script>
{% endblock %}
