{% extends "/base.html" %}
{% set active_page = "create" %}
{% set active_link  = "projects" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container container-main">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            {% include "_flash_messages.html" %}
            <h1>Create a new project from GitHub</h1>
            <hr>
            <form class="" method="post" action="{{ url_for('github.new_project')}}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_field(form.name, placeholder="The name of the project", show_label=True, class="form-control", required="required", autofocus="autofocus") }}
                    {{ render_field(form.short_name, placeholder="A shortcut for accessing the project via the web", show_label=True, class="form-control", required="required") }}
                    {{ render_field(form.github_url, class_="form-control", placeholder="GitHub URL", required="required", show_label=True) }}
                    <div class="pull-right" role="group">
                        <a href="{{url_for('project.new', name=current_user.name)}}" class="btn btn-default">Cancel</a>
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
