{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

{% block content %}
<meta name="robots" content="noindex">
    
<script>
    Modernizr.load({
            test: window.JSON,
            nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
            });
</script>
<script src="{{url_for('static', filename="js/pybossa/pybossa.js")}}" type="text/javascript"></script>
<script src="/static/vendor/jquery.serializejson.min.js" type="text/javascript"></script>
    <div class="container-padded">
        <div class="container container-padded">
        {% include "_flash_messages.html" %}
        {% if invite_new_volunteers %}
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sorry, you've contributed to all the tasks for this project</h1>
                    <h2>But this project still needs more volunteers, so please spread the word!</h2>
                </div>
            </div>
        {% endif %}
        
        {% if project.hidden == 0 %}
            {{ project.info.task_presenter|safe }}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sorry, this project is currently hiding</h1>
                    <h2>It will be revealed shortly, see you then!</h2>
                </div>
            </div>
        {% endif %}
        
        <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
        en
        {% else %}
        {{ current_user.locale }}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
