{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

{% block content %}
<script>
    Modernizr.load({
            test: window.JSON,
            nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
            });
</script>
<script src="{{url_for('static', filename='js/pybossa/pybossa.js')}}?v1.2.0" type="text/javascript"></script>
<div class="container container-main">
    {% if invite_new_volunteers %}
        <div class="row">
            <div class="col-xs-12 text-center padding-top-lg">
                <h1>Great, you've contributed to all the tasks for this project.</h1>
                <h2>But this project still needs more volunteers, so please spread the word!</h2>
                <a href="/"><i class="fa fa-home fa-3x"></i></a>
            </div>
        </div>
    {% endif %}
    {{ project.info.task_presenter|safe }}
</div>
{% endblock %}