{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
    {{ render_local_nav(current_user, "projectsettings", project.short_name) }}
<div class="container-padded">
    <div class="container container-padded">
        <div class="row">
            {% if project %}
            <!-- Project -->
            <div class="col-sm-9 col-sm-offset-3 xs-center">
                {% include "_flash_messages.html" %}
                <h1><strong>{{ project.name }}</strong>: Settings</h1>
                <div class="btn-group">
                    <a class="btn" href="{{ url_for('project.update', short_name = project.short_name) }}"><i class="fa fa-edit"></i> Edit the project details</a>
                    <a class="btn" href="{{ url_for('project.task_settings', short_name = project.short_name) }}"><i class="fa fa-wrench"></i> Task Settings</a>
                    <a class="btn" href="{{ url_for('project.delete', short_name = project.short_name) }}"><i class="dfa fa-trash"></i> Delete the project</a>
                </div>
            </div>
            {% else %}
            <div class="page-header padding-top container">
                <h1>Sorry! This project does not exist.</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{{ helper.broken_image() }}
{% endblock %}
