{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ helper.render_project_local_nav(project, 'auditlog', current_user, pro_features) }}
<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            {% include "_flash_messages.html" %}
            {{ helper.render_project_title(project, subtitle="Import Tasks")}}
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">Use one of the following <strong>importers</strong> to import tasks</p>
                </div>
            </div>
            {% for row in available_importers|batch(3) %}
            <div class="row">
                {% for importer in row %}
                <div class="col-sm-4">
                    {% include importer %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
