{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

{% block content %}

<div class="container container-main padding-top-lg text-center">
    {{ project.info.tutorial | safe}}
    <div class="row">
        <div class="col-xs-12">
            <a id="start" href={{url_for('project.presenter', short_name=project.short_name)}}
               class="btn btn-danger"><i class="fa fa-thumbs-o-up"></i> Contribute
            </a>
        </div>
    </div>
</div>
{% endblock %}