{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

{% block content %}

{{ project.info.tutorial | safe}}

<div class="container-padded">
    <div class="container container-padded padding-top-lg">
        {% include "_flash_messages.html" %}
        <a id="start" href={{url_for('project.presenter', short_name = project.short_name)}}
           class="btn btn-danger"><i class="fa fa-thumbs-o-up"></i> Contribute
        </a>
    </div>
</div>
{% endblock %}