{% extends "/base.html" %}
{% set active_page = "blog" %}
{% import "projects/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{{ helper.render_project_local_nav(project, 'updateblog', current_user, pro_features, staff_or_admin) }}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
            {% include "_flash_messages.html" %}
            <h2>Edit the blog post</h2>
            <form class="form-horizontal" method="post" action="{{ url_for('blog.update_blogpost', id=blogpost.id) }}">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_field(form.title, class_="form-control", required="required", placeholder="The title of your post") }}
                    {{ render_field(form.body, class_="form-control hidden", required="required", rows="15",
                    placeholder="Write your post here. You can use Markdown!") }}
                    <div role="group" class="pull-right">
                        <a href="{{url_for('blog.index')}}" class="btn btn-default">Cancel</a>
                        <input type="submit" value="Update" class="btn btn-danger" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
