{% macro render_account_local_nav(current_user, active_link) -%}
<ul data-spy="affix" data-offset-top="200px" class="nav nav-list bs-docs-sidenav affix-top">
    <li {% if active_link=="profile"%}class="active"{% endif %}><a href="{{url_for('account.profile', name=current_user.name)}}"><i class="glyphicon glyphicon-chevron-right"></i> {{ _('My Profile') }}</a></li>
    <li {% if active_link=="applications"%}class="active"{% endif %}><a href="{{url_for('account.applications', name=current_user.name)}}"><i class="glyphicon glyphicon-chevron-right"></i> {{ _('My Projects') }}</a></li>
    {% if current_user.admin %}
    <li {% if active_link=="admin"%}class="active"{% endif %}><a href="{{url_for('admin.index')}}"><i class="glyphicon glyphicon-chevron-right"></i> {{ _('Admin Site') }}</a></li>
    {% endif %}
    <li {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('account.update_profile', name=current_user.name)}}"><i class="glyphicon glyphicon-chevron-right"></i> {{ _('My Settings') }}</a></li>
</ul>
{% endmacro %}

{% macro render_twitter_btn(app) %}
<a href="https://twitter.com/share" class="twitter-share-button"
    data-text="{{ _('I\'ve done') }} {{app.c}} {{ _('tasks for the @PyBossa project:') }} {{app.name}}. {{ _('Do you want to help?') }} {{url_for('app.details',short_name=app.short_name,_external=True)}}"
    data-count="none">{{ _('Tweet') }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endmacro %}

{% macro render_googlePlus_btn(app) %}
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {parsetags: 'explicit'}
</script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{url_for('app.details',short_name=app.short_name,_external=True)}}"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plusone.go();</script>
{% endmacro %}


{% macro render_user_profile(user, upload_method, settings, private=True) %}
<div class="row margin-bottom">
    <div class="col-sm-6 col-xs-12 text-center">
        <div class="inline-block">
            <div class="shadow shadow-circle">
                {{ render_user_thumbnail(user, upload_method, class="img-circle profile-image img-responsive center-block") }}
            </div>
        </div>
        <h1 class="inset-text-grey">{{user.fullname}}</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 white-rounded inset-shadow">
        
        <div class="row">
            <div class="col-xs-6 text-center">
                {% if user.rank %}
                    {% if private %}
                    <a class="remove-colour" href="{{url_for('leaderboard.index')}}">
                    {% endif %}
                    <i class="fa fa-trophy fa-4x"></i>
                    <p>{{ _('Rank')}}</p>
                    <p class="score">{{ user.rank }}</p>
                {% if private %}</a>{% endif %}
                {% else %}
                    <i class="fa fa-trophy fa-4x"></i>
                    <p>{{ _('Rank') }}</p>
                    <p class="score">{{ _('0') }}</p>
                {% endif %}
            </div>
            
            <div class="col-xs-6 text-center">
                {% if user.score %}
                    <i class="fa fa-tasks fa-4x"></i>
                    <p>{{ _('Answers') }}</p>
                    <p class="score">{{user.score}}</p>
                {% else %}
                    <i class="fa fa-tasks fa-4x"></i>
                    <p>{{ _('Answers') }}</p>
                    <p class="score">0</p>  
                {% endif %}
            </div>
        </div>
        <hr class="extra-margins">
            
        <div class="text-center">
            <p><i class="fa fa-user"></i> {{ _('Username')}}: {{ user.name }}</p>
            {% if private %}
            <p><i class="fa fa-envelope"></i> {{_('E-mail')}}: {{ user.email_addr }}</p>
                {% if (user.valid_email == False) %}
                  {% if (user.confirmation_email_sent == False) %}
                  <a href="{{ url_for('account.confirm_email')}}" class="btn btn-sm">Validate email</a>
                  {% else %}
                  <a href="#" class="btn btn-sm disabled">Email sent for validation</a>
                  {% endif %}
                {% endif %}
                
            {% endif %}
            
        
            
            
            <p><i class="fa fa-clock-o"></i> {{ _('Joined') }}: <span class="format-date" data-date="{{user.created}}"></span></p>
            {% if private %}
                <p><i class="fa fa-key"></i> {{ _('API Key') }}: {{user.api_key}}</p>
                
                <a href="{{ url_for('account.update_profile', name=user.name) }}" class="btn btn-default btn-sm btn-padded"><i class="fa fa-user"></i> {{ _('Edit') }}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_user_thumbnail(user, upload_method, id, class, style) %}
    {% if user.info.avatar %}
        {% if upload_method == 'rackspace'%}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onerror="imgError(this, 'user');">
        {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onerror="imgError(this, 'user');">
        {% endif %}
    {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('static', filename='img/placeholder.user.png')}}">
    {% endif %}
{% endmacro %}

{% macro render_pagination(pagination) %}
  <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
          <li>
          <a href="{{ url_for_other_page(pagination.page - 1)
            }}">&laquo; {{_('Prev')}} | </a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
             </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
          <a href="{{ url_for_other_page(pagination.page + 1)
            }}"> | {{_('Next')}} &raquo;</a>
          </li>
        {% endif %}
    </ul>
  </div>
{% endmacro %}

