{% extends "base.html" %}

{% block content %}
<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<div class="container container-main">
    <div class="row">
        <div class="col-xs-12">
            {% include "_flash_messages.html" %}
            <div class="col-sm-6 col-sm-offset-3">
                <div class="white-panel inset-shadow-white">
                    <h2>Great, just one more step!</h2>
                    <p>In order to confirm your identity we've sent a link to the email address provided, please click on it to finish creating your {{ config.BRAND }} account.</p>
                    <p>If you have not received the email in the next couple of minutes please check your spam folder. If it's not there drop us an email at <a href="mailto:issues@libcrowds.com">issues@libcrowds.com</a>.</p>
                    <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-inverse">
                    <i class="fa fa-home"></i> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
