{% extends "base.html" %}
{% set active_page = "community"  %}
{% import "privacy/locked.html" as privacy %}
{% import "account/_helpers.html" as helper %}
{% from "applications/_helpers.html" import broken_image %}
{% import "admin/_helpers.html" as admin_helper %}

{% block content %}
  <div class="splash" id="community-splash">
  <div class="splash-overlay vcenter hcenter">
    <div class="container text-center ie-vcenter padding-top">
        <div class="col-sm-12">
            <div data-anchor="#intro" class="btn btn-circle btn-circle-small anchor-btn">
              <a>
                   <div><i class="fa fa-angle-double-down fa-3x"></i></div>
                   <div><i class="fa fa-angle-double-down fa-3x"></i></div>
              </a>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="container-padded">
  <div class="container container-padded">
    <a id="intro"></a>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% include "_flash_messages.html" %}
          {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
            {{ privacy.render_lock_page() }}
          {% else %}
          <div class="row vcenter-sm hcenter">
            <div class="col-md-8 col-xs-12 xs-center">
              <h1>{{ _('Community') }} </h1><h4>{{total}} {{ _('registered users') }}</h4>
              <small>Active volunteers are shown below</small>
            </div>
            <div class="col-md-4 col-xs-12 padding-top-xs text-center">
              <a class="pull-right-sm btn btn-danger" href="{{url_for('leaderboard.index')}}">{{ _('View Leaderboard') }}</a>
            </div>
          </div>
          <hr>
          {% if accounts %}
          <ul class="polaroids users">
          {% for account in accounts %}
              <li>
                <a href="{{url_for('account.profile', name=account.name)}}" class="polaroid polaroid-sm" rel="popover" title="{{account.name}}" data-polaroid-title="{{account.name}}" data-html="true" data-content="
             <strong>{{_('Joined')}}:</strong> {{account.created[0:10]}} 
             <br/>
             <strong>{{_('Answers')}}:</strong> {{account.task_runs}}
             " rel="popover" data-original-title="<strong>{{account.name}}</strong>">
                  {{ helper.render_user_thumbnail(account, upload_method) }}
                </a>
              </li>
              {% endfor %}
          </ul>
        {% endif %}
        <div class="col-sm-9">
            {% if pagination.pages > 1 %}
                {{ helper.render_pagination(pagination) }}
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
$("a[rel=popover]").popover({
        html: true,
        animate: true,
        trigger: 'hover',
        placement: 'bottom'
                });

</script>
{{ broken_image() }}
{% endblock %}
