{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container container-main">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        {% include "_flash_messages.html" %}
        <h4 class="text-center">Reset your Password</h4>
        <form method="post" class="form-horizontal">
            <fieldset>
                {{ form.hidden_tag() }}
                {{ render_field(form.new_password, placeholder="New password", class="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters", autofocus="autofocus") }}
                {{ render_field(form.confirm, placeholder="Confirm new password", class="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters") }}
                <div class="pull-right" role="group">
                    <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-default">Cancel</a>
                    <input type="submit" value="Save Changes" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
