{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "applications/_helpers.html" as app_helper %}

{% block content %}
<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<div class="container-padded  remove-padding-bottom">
    <section class="pattern-brushed box-shadow-grey">
        <div class="container padding-top">
            {% include "_flash_messages.html" %}
            {{ helper.render_user_profile(current_user, upload_method, "settings") }} 
        </div>
    </section>
    
            {% if apps_contrib %}
                <section id="contributed-apps" class="white pattern-white-wall inset-shadow-top">
                    {{app_helper.render_grid_apps(apps_contrib, "Your Contributions", upload_method)}}
                </section>
            {% else %}
            
                    
                <small>No contributions yet</small>
            {% endif %}
        {{ app_helper.broken_image() }}
    
    
</div>
{% endblock %}
