{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "applications/_helpers.html" as app_helper %}

{% block content %}

<div class="container-padded  remove-padding-bottom">
    <section class="pattern-brushed box-shadow-grey">
        <div class="container padding-top">
            {{ helper.render_user_profile(current_user, upload_method, "settings") }} 
        </div>
    </section>
    
    <section  class="white pattern-white-wall-2x">
        <div class="container container-padded">
            <div class="text-center">
                <h2>{{ _('Your Contributions') }}</h2>
            {% if apps_contrib %}
                    {% for app in apps_contrib %}
                    
                    
                <div class="row well well-small">
                    <div class="col-md-6">
                            {{ app_helper.render_app_thumbnail(app, upload_method, class='img-polaroid img-responsive xs-center', style='max-width:100px; max-height:100px;') }}
                        </div>
                    <div class="col-md-6">
                        <h2>
                            <a href="{{url_for('app.details', short_name=app.short_name)}}">{{app.name}}</a>
                        </h2>
                        <a class="btn btn-primary" href="{{url_for('app.presenter', short_name=app.short_name)}}">
                            <i class="glyphicon glyphicon-thumbs-up"></i> {{ _('Contribute!') }}
                            
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            
                    
                <small>No contributions yet</small>
            {% endif %}
            
                
                
            </div>
        </div>
    </section>
        {{ app_helper.broken_image() }}
    
    
</div>
{% endblock %}
