{% extends "base.html" %}
{% set active_page = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
{{ render_local_nav(current_user, "openproject") }}
     <div class="container-padded  remove-padding-bottom hidden-container" style="display:none;">
        <div class="container container-padded">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    {% include "_flash_messages.html" %}
                    {% if current_user.admin == 1 %}
                    <div class="row vcenter hcenter">
                        <div class="col-md-8 col-xs-12">
                            <h1><strong>Admin</strong>: {{ _('Projects') }}</h1>
                        </div>

                        <div class="col-md-4 col-xs-12">            
                            <a href="{{url_for('project.new')}}" class="btn btn-danger pull-right">Create a Project</a>
                        </div>
                    </div>
                    <hr>
                    {% if projects_published or projects_draft %}
                    {% if projects_published %}
                    <div class="col-xs-12">
                        <h2>{{ _('Published') }}</h2>
                    </div>
                    <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for project in projects_published %}
                            {{ project_helper.render_project_short_summary(project, upload_method) }}
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if projects_draft %}
                    <div class="col-xs-12">
                        <h2>{{ _('Draft') }}</h2>
                    </div>
                    <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for project in projects_draft %}
                            {{ project_helper.render_project_short_summary(project, upload_method) }}
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% else %}
                    <div class="col-xs-12">
                        <h2>{{ _('You have not created any projects') }}</h2>
                    </div>
                    {% endif %}
                    {% else %}
                        {{ project_helper.render_project_restricted() }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ project_helper.broken_image() }}
{% endblock %}
