{% extends "base.html" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
    {{ render_local_nav(current_user, "projects") }}
    <div class="container-padded">
        <div class="container container-padded hidden-container" style="display:none;">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    {% include "_flash_messages.html" %}
                    {% if current_user.admin %}
                        <div class="row vcenter-sm">
                            <div class="col-sm-9 col-xs-12 vcenter-sm">
                                <h1><strong>{{ current_user.fullname }}'s</strong>: {{ _('Projects') }}</h1>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                    <a href="#" class="btn btn-inverse pull-right-sm" id="catalogue-help">Create a project</a>
                            </div>
                        </div>
                        {% if projects_published or projects_draft %}
                            {% if projects_published %}
                            <h2>{{ _('Published') }}</h2>
                            {% for project in projects_published %}
                            {{ project_helper.render_project_short_summary(project, upload_method) }}
                            {% endfor %}
                            {% endif %}
                            {% if projects_draft %}
                            <h2>{{ _('Draft') }}</h2>
                            {% for project in projects_draft %}
                            {{ project_helper.render_project_short_summary(project, upload_method) }}
                            {% endfor %}
                            {% endif %}
                        {% else %}
                            <h2>{{ _('You have not created any projects') }}</h2>
                            <a href="{{url_for('project.new')}}" class="btn btn-primary">{{ _('Get started') }}</a>
                        {% endif %}
                    {% else %}
                        {{ project_helper.render_project_restricted() }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ project_helper.broken_image() }}
{% endblock %}
