{% extends "base.html" %}
{% set active_page = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}

{% block content %}
<span class="set-body-bg" data-bg="pattern-white-wall"></span>
{% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
    {{ privacy.render_lock_page() }}
{% else %}
<div class="container container-main">
    {% include "_flash_messages.html" %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-center">
            {{ helper.render_user_profile(user, upload_method, private=False) }}
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="white-panel inset-shadow-white">
                {% if projects %}
                    {{project_helper.render_grid_projects(projects, "Contributions", upload_method)}}
                {% else %}
                <div class="text-center">
                    <h2>No contributions</h2>
                    <p>Here's your chance for a headstart!</p>
                    <div class="col-xs-12 text-center padding-bottom-md padding-top-sm">
                        <a class="btn btn-default" href="{{url_for('project.index')}}">Get started</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{{ project_helper.broken_image() }}
{% endblock %}
