{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}
{% import "applications/_helpers.html" as app_helper %}
{% import "_formhelpers.html" as form_helper %}
{% block content %}

<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />

<div class="container-padded remove-padding-bottom">
    <section class="mid-grey pattern-brushed padding-bottom-sm">
        <div class="container padding-top">
            <div class="row margin-bottom">
                {% include "_flash_messages.html" %}
                <div class="col-sm-6 col-xs-12 text-center">
                    <form method="post" role="form" class="upload-img-form" action="{{ url_for('account.update_profile', name=current_user.name) }}" enctype="multipart/form-data">
                        <fieldset>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="center-block img-overlay-container">
                                <div class="shadow shadow-circle">
                                    {{ helper.render_user_thumbnail(current_user, upload_method, class="img-circle profile-image img-responsive center-block")}}
                                </div>
                                <div class="img-overlay img-circle edit-profile-image">
                                    <i class="fa fa-pencil-square-o fa-4x"></i>
                                    <span>Edit</span>
                                </div>
                            </div>
                            <br>
                            {{ app_helper.render_loading("Loading, please wait...") }}
                            {%if not current_user.info.avatar%}
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3 alert alert-info">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        Click above to choose your avatar.
                                    </div>
                                </div>
                            {% endif %}
                            <h1 class="inset-text-grey">{{current_user.fullname}}</h1>
                            {{ form_helper.render_field(upload_form.avatar, onchange="loadPreview()", class="form-control hidden") }}
                            {{ upload_form.x1 }}
                            {{ upload_form.y1 }}
                            {{ upload_form.x2 }}
                            {{ upload_form.y2 }}
                            <div id="modal" class="modal fade">
                                <div class="modal-dialog img-dialog img-circle">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img id="uploadPreview">
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <div class="form-actions text-center">
                                                <button type="submit" id="upload-btn" name='btn' value="Upload" class="btn btn-primary btn-lg" />{{ _('Upload') }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            
                <div class="col-sm-6 col-xs-12 white-rounded inset-shadow">
                
                    <form method="post" role="form" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                        <fieldset>
                            <h2 {% if form.errors %}name="profile"{%endif%}>Update your profile</h2>
                            {{ form.id }}
                            {{ form.hidden_tag() }}
                            {{ form_helper.render_field_horizontal(form.fullname, placeholder= _('Full name'), class="form-control", required="required", pattern=".{3,35}", title="Must be between 3 and 35 characters" ) }}
                            {{ form_helper.render_field_horizontal(form.name, placeholder= _('Username'), class="form-control", required="required", pattern=".{3,35}", title="Must be between 3 and 35 characters" ) }}
                            {{ form_helper.render_field_horizontal(form.email_addr, placeholder= _('Email'), class="form-control", type="email" ) }}
                            {{ form_helper.render_field_horizontal_checkbox(form.privacy_mode, class="form-control") }}
                            <select class="form-control hidden" id="locale" name="locale"><option selected="" value="en">English</option></select>
                            <div class="pull-right form-actions" role="group">
                                <a href="{{ url_for('account.update_profile', name=current_user.name) }}" class="btn btn-default">{{ _('Cancel') }}</a>
                                <button type="submit" name="btn" value="Profile" class="btn btn-success" />{{ _('Save') }}</button>
                            </div>
                        </fieldset>
                    </form>
                <hr class="extra-margins">
                    {% if show_passwd_form %}
                    <h2 {% if password_form.errors %} name="password" {%endif%}>{{ _('Change your Password') }}</h2>
                    <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                        <fieldset>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            {{ password_form.id }}
                            {{ password_form.hidden_tag() }}
                            {{ form_helper.render_field(password_form.current_password, placeholder= _('Current password'), class="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters") }}
                            {{ form_helper.render_field(password_form.new_password, placeholder= _('New password'), class="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters") }}
                            {{ form_helper.render_field(password_form.confirm, placeholder= _('Confirm new password'), class="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters") }}
                            <div class="pull-right form-actions" role="group">
                                <a href="{{ url_for('account.update_profile', name=current_user.name) }}" class="btn btn-default">{{ _('Cancel') }}</a>
                                <button type="submit" name="btn" value="Password" class="btn btn-success" />{{ _('Save') }}</button>
                            </div>
                        </fieldset>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
{{ app_helper.broken_image() }}
{% endblock %}
