{% extends "/base.html" %}
{% set active_page = "create" %}
{% set active_link  = "newproject" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container container-main">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1>Sync a Project with GitHub</h1>
            <hr>
            <form role="form" method="post" action="{{ url_for('github.import_repo', github_url=github_url, short_name=project.short_name)}}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_field(form.description, class_="form-control", show_label=True, placeholder='Some details about the project') }}
                    {{ render_field(form.long_description, class_="form-control", show_label=True) }}
                    {{ render_field(form.webhook, class_="form-control", show_label=True) }}
                    {{ render_field(form.task_presenter, class_="form-control", show_label=True) }}
                    {{ render_field(form.tutorial, class_="form-control", show_label=True) }}
                    {{ render_field(form.results, class_="form-control", show_label=True) }}
                    {{ render_field(form.thumbnail, class_="form-control", show_label=True) }}
                    {{ render_field(form.category_id, class_="form-control", show_label=True) }}
                    {{ render_field(form.additional_properties, rows="10", class_="form-control", show_label=True) }}
                    <div class="text-right" role="group">
                        <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-default">Cancel</a>
                        <button type="submit" value="Update" class="btn btn-danger">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    // Prettify JSON field
    var props = document.getElementById("additional_properties"),
        jsonStr = JSON.parse(props.value),
        pretty = JSON.stringify(jsonStr, null, 4);
    props.value = pretty;
</script>
{% endblock %}
