<div class="container-padded">
    <section class="white">
        <div class="container container-padded">
            <div class="col-md-11">
                <h1>{{ _('About') }}</h1>
                
                <p>{{ brand }} is a crowd-sourcing platform with the ultimate goal of making important research material more
                readily available to a wider audience.</p>
                    
                <p>Each project at {{ brand }} contains a collection of tasks related to a specific area of research. These tasks
                require human intelligence and are not things that can be accurately processed by computers. While
                each individual task can usually be completed quickly, the collections of tasks are often vast. The only
                feasible way to complete such a number of tasks within a reasonable length of time is via widespread user
                contributions.</p>
                    
                <p>By participating you will have a direct impact on helping future research by anyone interested in the diverse 
                collections available at the British Library.</p>
            </div>
        </div>
    </section>
                   
    <section class="mid-grey">
        <div class="container container-padded">
            <div class="col-md-11">
                <h1>{{ _('Technology') }}</h1>
                
                <p>{{ brand }} is built on top of <a href="http://docs.pybossa.com/"> PyBossa </a>, an open-source framework for
                crowd-sourcing projects. Individual applications are written in HTML and Javascript, with some also making use of
                PHP.</p>
            </div>
        </div>
    </section>
                
    <section class="white">
        <div class="container container-padded">
            <div class="col-md-11">
                <h1 id="contact">{{ _('Contact information') }}</h1>
                <ul>
                    <li>For more info, email: <a href="mailto:info@pybossa.com">info@pybossa.com</a></li>
                    <li>{{ _('Report any bugs, issues or improvements:') }} 
                        <a href="https://github.com/alexandermendes/BL-pybossa-theme/issues">{{ _('Github Issues') }}</a>
                    </li>            
                </ul>
            </div>
        </div>
    </section>
</div>
