{% extends "base.html" %}
{% import "applications/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}

<div class="splash vcenter">
   <div class="container container-max-height">
    <div class="col-sm-12 pull-down-center">
            <a href="#intro" class="btn btn-circle anchor-btn"><i class="fa fa-chevron-down"></i></a>
    </div>
   </div>
</div>

<a id="intro"></a>
<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
      <div class="container container-padded text-center">
         <div class="col-sm-offset-2 col-sm-8">
          <h1 class="inset-text-grey">Crowd-sourcing from the British Library</h1>
            <p class="lead">
               {{ brand }} is a crowd-sourcing platform focused on making important research materials 
               more easily accessible and readily available. By participating you will have a direct impact 
               on future research conducted using the diverse collections held at the British Library.
            </p>
         </div>
      </div>
</section>

 {% if categories_apps['featured'] %}
<section class="white pattern-white-wall box-shadow-white-bottom">
  <div class="row text-center padding-top">
        <h2>{{ _('Featured Projects') }}</h2>
      </div>
  <ul class="polaroids">
      {% for app in categories_apps['featured'] %}
        {{ helper.show_app(app, "featured", current_user, upload_method) }}
      {% endfor %}
  </ul>
</section>
{% endif %}

{% if top_users %}
<section id="top_users" class="container-padded">
   <div class="container container-padded">
    <div class="col-sm-12">
      <div class="row text-center padding-bottom-sm">
        <h2>{{ _('Most Active Volunteers') }}</h2>
      </div>
        <ul class="users">
        {% for user in top_users %}
<li>
<a href="{{url_for('account.profile', name=user.name)}}" data-content="
   <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}} 
   <br/>
   <strong>{{_('Submitted Tasks')}}:</strong> {{user.task_runs}}
   " rel="popover" data-original-title="<strong>{{user.fullname}}</strong>">
   <div class="shadow shadow-circle">
{{ account_helper.render_user_thumbnail(user, upload_method, style="height:90px; width:90px;", class="img-circle") }}
   </div>
</a>
<span class="label label-success">{{user.task_runs}}</span> <small>{{_('Tasks')}}</small>
</li>
{% endfor %}
</ul>
</div>
    <div class="col-sm-12 text-center padding-top-xs">
      <a class="btn btn-danger" href="{{url_for('leaderboard.index')}}">View Leaderboard</a>
    </div>
</div>
</section>
{% endif %}

<span id="homepage-flag" style="display: none"></span>
<script>
   $("a[rel=popover]").popover({
           html: true,
           animation: true,
           trigger: 'hover',
           placement: 'top'
                   });
</script>
{{ helper.broken_image() }}
{% endblock %}