{% extends "/base.html" %}
{% set active_page = "data" %}
{% set active_app  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<div class="container container-padded remove-padding-bottom">
    <section class="white">
        <div class="container container-padded">
            {% include "_flash_messages.html" %}
            <div class="col-md-11">
                <h1>Open Data</h1>
                <p>This page contains all of the datasets collected from, and images used within,
                the crowdsourcing projects on this platform. Everything on this page is made available
                under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>, meaning that
                it can be used without any copyright restrictions.</p>
            </div>
        </div>
    </section>
</div>
<section class="white pattern-white-wall box-shadow-white-bottom">
    <div class="container container-padded">
        <div class="row padding-bottom">
            <div class="col-xs-12">
                <div class="white-rounded inset-shadow-white">
                    <h3 class="text-center">Raw task data</h3>
                    <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">JSON</th>
                                <th class="text-center">CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in apps %}
                                <tr>
                                    <td><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{app.name}}</a></td>
                                    <td class="text-center"><a href="{{url_for('app.export_to', short_name=app.short_name, type='task', format='json')}}" rel="nofollow"><i class="fa fa-download"></i></a></td>
                                    <td class="text-center"><a href="{{url_for('app.export_to', short_name=app.short_name, type='task', format='csv')}}" rel="nofollow"><i class="fa fa-download"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12">
                <div class="white-rounded inset-shadow-white">
                    <h3 class="text-center">Raw answer data</h3>
                        <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">JSON</th>
                                <th class="text-center">CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in apps %}
                                <tr>
                                    <td><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{app.name}}</a></td>
                                    <td class="text-center"><a href="{{url_for('app.export_to', short_name=app.short_name, type='task_run', format='json')}}" rel="nofollow"><i class="fa fa-download"></i></a></td>
                                    <td class="text-center"><a href="{{url_for('app.export_to', short_name=app.short_name, type='task_run', format='csv')}}" rel="nofollow"><i class="fa fa-download"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12">
                <div class="white-rounded inset-shadow-white">
                    <h3 class="text-center">Images</h3>
                        <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">Flickr</th>
                                <th class="text-center">Zip</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in apps %}
                                <tr>
                                    <td><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{app.name}}</a></td>
                                    <td class="text-center"><a href="{{app.flickr_link}}" target="_blank"><i class="fa fa-link"></i></a></td>
                                    <td class="text-center"><a href="{{ url_for('uploads.uploaded_file', filename=(app.info.container + '/' + app.info.image_set))}}"><i class="fa fa-download" data-filesize="{{app.info.image_set_size}}"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function(){
        $('.fa-download').each(function() {
            var bytes = $(this).attr('data-filesize');
            if (typeof bytes !== typeof undefined && bytes !== false) {
                $(this).html("<small> (" + bytesToSize(bytes) + ")</small>");
            }
        });
    });
    
    function bytesToSize(bytes) {
       if(bytes == 0) return '0 Bytes';
       if(bytes == 1) return '1 Byte';
       var k = 1000;
       var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
       var i = Math.floor(Math.log(bytes) / Math.log(k));
       return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
    }
</script>
{% endblock %}