<p>Hello {{ user.fullname }},
</p>
<p>We received a request to recover your password at {{ config.BRAND }}.
</p>
<p>If you did not make this request please ignore this email.
</p>
<p>Our records show that you use your {{ account_name }} account to sign in. Please use
the same account to sign-in again. If you forgot the password to your {{ account_name }}
account, please contact {{ account_name }}.
</p>
<p>Regards,<br />
{{ config.BRAND }} Team</p>

<hr>
<p><a href="http://twitter.com/LibCrowds">Follow us on Twitter</a></p>
