{% extends "account/email/base.html" %}

{% block subject %}
Validate your account
{% endblock %}

{% block subtitle %}
Hello {{ user['fullname'] }},
{% endblock %}

{% block body %}
<p>
You have updated your email address at {{ config.BRAND }}.
</p>
<p>
To verify that you are the owner of this e-mail address, please visit the URL below:
</p>
<p>
Click here to validate your new e-mail address:
</p>
<p>
    <a href="{{confirm_url}}">{{ confirm_url }}</a>
</p>
<p>
Regards,
</p>
<p>
{{ config.BRAND }} Team
</p>
{% endblock %}
