{% macro render_pagination(pagination, handle) %}
  <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
          <li>
          <a href="{{ url_for_other_page(pagination.page - 1)
              }}">&laquo; {{_('Prev')}} {{handle}}</a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
             </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
          <a href="{{ url_for_other_page(pagination.page + 1)
              }}">{{_('Next')}} {{handle}}&raquo;</a>
          </li>
        {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro render_app_summary(app, n_tasks, overall_progress, last_activity, current_user, upload_method) -%}
<div class="row">
    <div class="col-sm-6">
        {{ render_app_thumbnail(app, upload_method, class='img-polaroid') }}
    </div>
    <div class="col-sm-6 padding-top-xs">
      <ul style="list-style-type: none; font-size: 16px;">
        {% if current_user.id == app.owner_id %}
        <li><strong><i class="glyphicon glyphicon-cog"></i> {{ _('ID') }}</strong>: {{ app.id }}</li>
        {% endif %}
        <li><strong><i class="glyphicon glyphicon-info-sign"></i> {{ _('Description') }}</strong>: {{ app['description'] }}</li>
        <li><strong><i class="fa fa-magic"></i> {{ _('Created') }}</strong>: <span class="format-date" data-date="{{app.created}}"></span></li>
        <li><strong><i class="glyphicon glyphicon-time"></i> {{ _('Last Activity') }}</strong>: <span class="format-date" data-date="{{app.last_activity}}"></span></li>
        <li><strong><i class="fa fa-check-square-o remove-colour"></i> {{ _('Overall progress') }}</strong>: {{ overall_progress | round | int }}% {{ _('completed') }}</li>
        <li><strong><i class="glyphicon glyphicon-tasks"></i> <a href="{{url_for('app.tasks',short_name=app.short_name)}}">{{ _('Tasks') }}</strong></a> ({{ n_tasks }})</li>
        {% if not current_user.is_anonymous() %}
        <li>{% if app.hidden == 1 %}
            <i class="icon glyphicon glyphicon-eye-close"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('Yes') }}
        {% else %} 
            <i class="icon glyphicon glyphicon-eye-open"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('No') }}
        {% endif %}
        </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endmacro %}

{% macro render_app_short_summary(app, upload_method) -%}
<tr>
    <td><a href="{{url_for('app.tasks', short_name=app.short_name)}}">{{app.name}}</a></td>
    <td><span class="format-date" data-date="{{app.created}}"></span></td>
    <td><a class="btn btn-inverse" href="{{url_for('app.tasks', short_name=app.short_name)}}">{{ _('Open') }}</a></td>
</tr>
{% endmacro %}

{% macro render_app_admin_featured(app, upload_method) -%}
<tr>
        <td><a href="{{url_for('app.tasks', short_name=app.short_name)}}">{{app.name}}</a></td>
        <td>{{ app['short_name'] }}</td>
        {% if app.featured %}
            <td style="text-align:center;"><a id="appBtnDel{{app.id}}" class="btn btn-inverse" onclick="del({{app.id}})">
                    <i id="app{{app.id}}" class="glyphicon glyphicon-remove"></i> {{ _('Remove') }}
            </a>
            <a id="appBtnAdd{{app.id}}" class="btn btn-inverse" onclick="add({{app.id}})" style="display:none;">
                    <i id="app{{app.id}}" class="glyphicon glyphicon-plus"></i> {{ _('Add') }}
            </a></td>
        {% else %}
            <td style="text-align:center;"><a id="appBtnAdd{{app.id}}" class="btn btn-inverse" onclick="add({{app.id}})">
                    <i id="app{{app.id}}" class="glyphicon glyphicon-plus"></i> {{ _('Add') }}
            </a>
            <a id="appBtnDel{{app.id}}" class="btn btn-inverse" onclick="del({{app.id}})" style="display:none;">
                    <i id="app{{app.id}}" class="glyphicon glyphicon-remove"></i> {{ _('Remove') }}
            </a></td>
        {% endif %}
    </tr>
{% endmacro %}


{% macro show_app(app, active_cat, current_user, upload_method) %}

<div class="project-item container container-padded">
    <div class="row project-summary padding-bottom">
        <div class="col-md-8 col-xs-12 same-size">
            <div class="white-rounded inset-shadow-white project-desc">
                <div class="col-sm-6 col-xs-12 hidden-xs project-polaroid">
                    <li>
                        <a  class="polaroid" href="{{ url_for('app.details', short_name = app.short_name) }}" data-polaroid-title="{{ app.name }}">
                            {{ render_app_thumbnail(app, upload_method, class='img-polaroid') }}
                        </a>
                    </li>
                </div>
                {% if app.created %}
                    <div id="data" hidden>
                        <span class="date">{{ app.created[0:10] }}</span>
                        <span class="project-name">{{ app.name}}</span>
                        {% if app.last_activity_raw != None %}
                        <span class="activity">{{app.last_activity_raw}}</span>
                        {% endif %}
                        <span class="progress">{{ app.overall_progress | round | int }}</span>
                    </div>
                {% endif %}
                
                <div class="col-xs-12 text-center hidden-sm hidden-md hidden-lg padding-top-xs">
                    <div class="shadow shadow-inline">
                        {{ render_app_thumbnail(app, upload_method, class="img-polaroid", style="max-width:150px") }}
                    </div>
                </div>
                
                <div id="data" class="col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                    <h2 class="text-center-xs"><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{ app.name }}</a></h2>
                    <p>{{ app.description }}</p>
                </div>
            </div>
        </div>
        
        <div class="row hidden-md hidden-lg text-center">
        {% if active_cat != "draft" %}
            <p><a class="btn btn-danger margin-top-xs" href="{{ url_for('app.presenter', short_name = app.short_name) }}">{{ _('Contribute') }}</a></p>
        {% endif %}
        </div>
        
            <div class="col-md-1 hidden-sm hidden-xs same-size">
                <div class="meter inset-shadow-white pull-right"><span data-progress="{{ app.overall_progress | round | int }}" data-app="{{app.short_name}}"><span></span></span></div>
            </div>
        
            <div class="col-sm-3 hidden-sm hidden-xs same-size" id="show-app-stats">
                <div class="white-rounded inset-shadow-white">
                    <span class="vcenter"><i class="fa fa-check-square-o fa-2x"></i><div class="padding-left-xs inline-block" id="{{app.short_name}}Complete">Completed: 0%</div></span>
                    <hr class="no-margins">
                    <span class="vcenter"><i class="fa fa-tasks fa-2x"></i><div class="padding-left-xs inline-block">Tasks: {{app.n_tasks}}</div></span>
                    <hr class="no-margins">
                    <span class="vcenter"><i class="fa fa-users fa-2x"></i><div class="padding-left-xs inline-block">Volunteers: {{ app.n_volunteers}}</div></span>
                </div>
                <div class="text-center padding-top-sm">
                    {% if active_cat != "draft" %}
                        <p><a class="btn btn-danger" href="{{ url_for('app.presenter', short_name = app.short_name) }}">{{ _('Contribute') }}</a></p>
                    {% endif %}
                </div>
            </div>
            
    </div>
</div>
{%- endmacro %}

{% macro broken_image() %}
<script>
function imgError(image) {
    image.onerror = "";
    image.src = "{{url_for('static', filename='img/placeholder.project.png')}}";
    if (arguments[1] === 'user') {
        image.src = "{{url_for('static', filename='img/placeholder.user.png')}}";
    }
    return true;
}
</script>
{% endmacro %}

{% macro knob(val) %}
<script src="{{url_for('static', filename='js/vendor/jquery.knob.js')}}"></script>
<script>
    $(function() {
        $(".dial").knob({
            'min': 0,
            'max': 100,
            'skin': 'tron',
            'fgColor': '#8bbf36',
            'inputColor': '#8bbf36',
            'readOnly': true,
            'thickness': .2,
            'width': 40,
            'height': 40,
            'displayInput': false,
        });
        $(".dial").css('font-size', '26px');
        $(".dial").css('font-weight', 'bold');
    });
</script>
{% endmacro %}

{% macro render_app_title(app, upload_method, subtitle=None) %}
<h1 class="vcenter inset-text-grey">
    {% if subtitle %}
    <strong>{{ app.name }}</strong>: {{subtitle}}</h1>
    {% else %}
    <strong>{{ app.name }}</strong></h1>
{% endif %}
<hr>
{% endmacro %}

{% macro render_overall_progress(app, n_tasks, overall_progress, show_contribute_btn=True, show_n_tasks=False) %}
    <div class="row vcenter-md hcenter">
        <div class="col-md-8 col-xs-12 vcenter-sm text-center-xs">
            <div class="col-sm-2"><input type="text" value="{{overall_progress | round |int}}" class="dial"></div>
            <h3><strong> {{_('Overall progress')}}</strong>: {{ overall_progress | round | int }}% {{_('completed')}}</h3>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            {% if show_contribute_btn %}
                <a href="{{ url_for('app.presenter', short_name=app.short_name)}}" class="btn btn-danger pull-right-md"> {{ _('Contribute') }}</a>
            {% elif show_n_tasks %}
                <span class="pull-right-md"><strong>{{n_tasks}}</strong> {{_('Tasks')}}</span>
            {% endif %}
        </div>
        
    </div>
    <hr>
{% endmacro %}

{% macro render_grid_apps(apps, title, upload_method) %}
    <div class="container container-padded">
        <div class="row text-center padding-bottom-sm">
            <h1>{{title}}</h1>
        </div>
            <div class="col-xs-12">
              <ul class="polaroids">
                    {% for app in apps %}
                        {{ show_app(app, "none", current_user, upload_method) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endmacro %}

{% macro render_loading(text) %}
<div class="row">
    <div class="col-md-12">
        <div id="loading" class="alert alert-info" style="display:none;">
            <span class="glyphicon glyphicon-refresh spinning"></span> {{text}}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_app_thumbnail(app, upload_method, id, class, style) %}
{% if app.info.container %}
    {% if upload_method == 'rackspace'%}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{ url_for('rackspace', filename=app.info.thumbnail, container=app.info.container)}}" style="{{style}}" onerror="imgError(this);">
    {% else %}
    <img id="{{id}}"  class="{{class}}" width="{{width}}" src="{{ url_for('uploads.uploaded_file', filename=(app.info.container + '/' + app.info.thumbnail))}}" style="{{style}}" onerror="imgError(this);">
    {% endif %}
{% elif app.info.thumbnail %}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{app.info.thumbnail}}" style="{{style}}" onerror="imgError(this);">
{% else %}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{url_for('static', filename='img/placeholder.project.png')}}" style="{{style}}">
{% endif %}
{% endmacro %}

{% macro render_url_thumbnail(app, upload_method) %}
{% if app.info.container %}
    {% if upload_method == 'rackspace'%}
    {{ url_for('rackspace', filename=app.info.thumbnail, container=app.info.container)}}"
    {% else %}
    {{ url_for('uploads.uploaded_file', filename=(app.info.container + '/' + app.info.thumbnail))}}
    {% endif %}
{% elif app.info.thumbnail %}
    {{app.info.thumbnail}}"
{% else %}
{{url_for('static', filename='img/placeholder.project.png')}}"
{% endif %}
{% endmacro %}

{% macro render_app_restricted() -%}
    <h1>Area restricted</h1>
        <p class="lead">Sorry, the creation and administration of applications is currently restricted.</p>
        <p class="lead">For access to this area please request admin rights.</p>
                <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-lg"> 
                    <i class="glyphicon glyphicon-home"></i>
                    Go Home
                </a>
                <a id="btnBack" href="#" class="btn btn-lg" onclick="history.back()"> 
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Go Back</a>
{% endmacro %}
