{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
    
    {% if app %}
    {{ helper.render_app_local_nav(app, 'info', current_user) }}
    <div class="container-padded  remove-padding-bottom">
        <section class="white">
            <div class="container container-padded">
            
                <div class="row">
                    <!-- Project -->
                    <div class="col-sm-9 col-sm-offset-3">
                        {{ helper.render_app_title(app, upload_method) }}
                        {{ helper.render_overall_progress(app, n_tasks, overall_progress) }}
                        {% if app.long_description %}
                            {{ app.long_description | e | markdown }}
                        {% endif %}
                        <div id="ckan" style="display:none">
                            <h2>Data repository: {{ ckan_name | default('CKAN server') }}</h2>
                            <p><i class="glyphicon glyphicon-bar-chart" style="font-size:16px;"></i> <a href="{{ckan_url}}/dataset/{{app.short_name}}">Preview the data</a>
                            </p>
                            <p id="ckan_license" style="display:none"><strong>Data License</strong>: <span id="ckan_license_value"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% else %}
        <div class="container-padded  remove-padding-bottom">
            <section class="white">
                <div class="container container-padded">
                    <div class="page-header">
                        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
<script>
    var url = "{{ckan_url}}/api/3/action/package_show";
    $.get(url, {id: '{{ckan_pkg_name}}'}, function(data){
            if (data['success'] == true) {
                $("#ckan").show();
                if (data['result']['license_title'] != null) {
                    $("#ckan_license").show();
                }
            }
            });
</script>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
