{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}

    {% if app %}
        {{ render_local_nav(current_user, 'auditlog', app.short_name) }}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            {% include "_flash_messages.html" %}
                        {{ helper.render_app_title(app, upload_method) }}
                        {% if logs %}
                        <table class="table table-stripped table-condensed table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>When</th>
                                <th>Who</th>
                                <th class="hidden-sm hidden-xs">Source</th>
                                <th>Action</th>
                                <th>Attribute</th>
                                <th class="hidden-sm hidden-xs">Old Value</th>
                                <th class="hidden-sm hidden-xs">New Value</th>
                            </tr>
                            </thead>
                        {% for log in logs | sort(reverse=True, attribute='created') %}
                            <tr>
                                <td><span class="format-date" data-date="{{log.created}}"></span></td>
                                <td>{% if current_user.name == log.user_name%}You{%else%}{{log.user_name}}{%endif%}</td>
                                <td class="hidden-sm hidden-xs">{{log.caller}}</td>
                                <td>{{log.action}}</td>
                                <td>{{log.attribute}}</td>
                                <td class="hidden-sm hidden-xs">{{(log.old_value or "Nothing")|truncate(30)}}</td>
                                <td class="hidden-sm hidden-xs">{{(log.new_value or "Nothing")|truncate(30)}}</td>
                            </tr>
                
                        {% endfor %}
                        </table>
                        {% else %}
                            <h1>{{ _('No logs so far.') }}</h1>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="page-header">
                                <h1>{{ _('This project does not exist.') }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
