{% extends "/base.html" %}
{% set active_menu = "project" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
{% if app %}
        {{ render_local_nav(current_user, 'blogpost', active_menu, app.short_name) }}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                        {{ helper.render_app_title(app, upload_method) }}
                        <hr>
                        {% if blogposts %}
                        <hr>
                            <ul>
                                {% for blogpost in blogposts %}
                                    <li>
                                        <div>
                                            <a href="{{url_for('app.show_blogpost', short_name=app.short_name, id=blogpost.id)}}">{{ blogpost.title }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h1>{{ _('Sorry! No posts so far.') }}</h1>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="page-header">
                                <h1>{{ _('This project does not exist.') }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
