{% extends "/base.html" %}
{% set active_menu = "project" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
    <span class="set-main-bg" data-bg="pattern-white-wall"></span>
        {{ render_local_nav(current_user, 'export', app.short_name) }}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                        {{ helper.render_app_title(app, upload_method, subtitle=_('Export Tasks'))}}
                        {{ helper.render_loading("Exporting data, this may take a while, please wait...") }}
                        <h3 class="text-inset-grey">Export Raw Data</h3>
                        <div class="row">
                            
                            <div id="csv-task" class="col-sm-3">
                                <a href="{{url_for('app.export_to', short_name=app.short_name, type='task', format='csv')}}" rel="nofollow">
                                    <div class="well">
                                        <i class="fa fa-file-excel-o fa-4x"></i> 
                                        <h3  class="margin-bottom-xs">{{_('Tasks (CSV)')}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div id="json-task" class="col-sm-3">
                                <a href="{{url_for('app.export_to', short_name=app.short_name, type='task', format='json')}}" rel="nofollow">
                                    <div class="well">
                                        <i class="fa fa-file-code-o fa-4x"></i> 
                                        <h3  class="margin-bottom-xs">{{_('Tasks (JSON)')}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div id="users-list" class="col-sm-3">
                                <a href="{{url_for('app.export_to', short_name=app.short_name, type='task_run', format='csv')}}" rel="nofollow">
                                    <div class="well">
                                        <i class="fa fa-file-excel-o fa-4x"></i> 
                                        <h3  class="margin-bottom-xs">{{_('Answers (CSV)')}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div id="users-list" class="col-sm-3">
                                <a href="{{url_for('app.export_to', short_name=app.short_name, type='task_run', format='json')}}" rel="nofollow">
                                    <div class="well">
                                        <i class="fa fa-file-code-o fa-4x"></i> 
                                        <h3  class="margin-bottom-xs">{{_('Answers (JSON)')}}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h3 class="text-inset-grey">Formatted Data</h3>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>

<script>
    $("#ckan > a").off('click').on('click', function(){
        $("#loading").show();
    });
</script>
{% endblock %}
