{% extends "/base.html" %}
{% set active_page = "applications" %}

{% import "applications/_helpers.html" as helper %}

{% block content %}
<script src="{{url_for('static', filename='js/vendor/isotope.pkgd.min.js')}}"></script>

<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<div class="container-padded remove-padding-bottom">
    <section class="dark-grey pattern-classy-fabric">
        <div class="container padding-top">
            <div class="col-xs-10 col-xs-offset-1">
                <ul class="nav nav-pills">
                    {% for c in categories %}
                                <li {% if active_cat.short_name==c.short_name%}class="active" {% else %} class=""{% endif %}><a href="{{url_for('app.app_cat_index', category=c.short_name)}}"> {{ c.name }}</a></li>
                            {% endfor %}
                            {% if current_user.is_authenticated() and current_user.admin %}
                                <li {% if active_cat.short_name=="draft"%}class="active"{% endif %}><a href="{{url_for('app.draft')}}"> {{ _('Draft') }}</a></li>
                            {% endif %}
                </ul>
            </div>
        </div>
    </section>
        
                <div class="container">
                    <div class="col-xs-12 padding-top-xs">
                        {% include "_flash_messages.html" %}
                        <div id="sorts" class="btn-group pull-right">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-sort-value="original-order">Sort by <span id="order">name</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu" style="top:35px;">
                              <li><a href="#" data-sort-value="original-order">name</a></li>
                              <li><a href="#" data-sort-value="date">date</a></li>
                              <li><a href="#" data-sort-value="activity">activity</a></li>
                              <li><a href="#" data-sort-value="progress">progress</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <section>
                    {% if apps %}
                        <ul class="polaroids">
                            {% for app in apps %}
                                {{ helper.show_app(app, active_cat.short_name, current_user, upload_method) }}
                            {% endfor %}
                        </ul>
                            {% if pagination.pages > 1 %}
                            {{ helper.render_pagination(pagination) }}
                        {% endif %}
                        {% else %}
                            <div class="container container-padded">
                                <h2 class="text-center inset-text-grey">{{_('Sorry, there are no published projects for this category yet')}}</h2>
                            </div>
                        {% endif %}
                    </section>
            
</div>
{{ helper.broken_image() }}
<script>
$( function() {
  // init Isotope
  var $container = $('.projects').isotope({
    itemSelector: '.project-item',
    layoutMode: 'fitRows',
    getSortData: {
      date: '.date',
      activity: '.activity',
      progress: '.progress parseInt',
    },
    sortAscending: {
        progress: false,
        activity: false,
    }
  });

  // bind sort button click
  $('#sorts').on( 'click', 'a', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
    if (sortValue == 'original-order') {
        $("#order").text('name');
    }
    else {
        $("#order").text(sortValue);
    }
  });

  // change is-checked class on buttons
  $('.dropdown-toggle').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });

});
</script>
{% endblock %}