{% extends "/base.html" %}
{% set active_page = "applications" %}

{% import "applications/_helpers.html" as helper %}

{% block content %}
    {% include "_flash_messages_floating.html" %}
<script src="{{url_for('static', filename='js/vendor/isotope.pkgd.min.js')}}"></script>

<div class="splash" id="project-splash">
  <div class="splash-overlay vcenter hcenter">
  </div>
</div>

<span class="set-main-bg" data-bg="pattern-white-wall"></span>
    <section class="dark-grey pattern-classy-fabric">
        <div class="container padding-top-sm">
            <div class="col-xs-10 col-xs-offset-1">
                <ul class="nav nav-pills">
                    {% for c in categories %}
                                <li {% if active_cat.short_name==c.short_name%}class="active" {% else %} class=""{% endif %}><a href="{{url_for('app.app_cat_index', category=c.short_name)}}"> {{ c.name }}</a></li>
                            {% endfor %}
                            {% if current_user.is_authenticated() and current_user.admin %}
                                <li {% if active_cat.short_name=="draft"%}class="active"{% endif %}><a href="{{url_for('app.draft')}}"> {{ _('Draft') }}</a></li>
                            {% endif %}
                </ul>
            </div>
        </div>
    </section>
        
    <div class="container">
        <div class="col-xs-12 padding-top-xs">
            <div id="sorts" class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-sort-value="original-order">Sort by <span id="order">Date</span> <span class="caret"></span></button>
                <ul class="dropdown-menu" style="top:35px;">
                  <li><a href="#" data-sort-value="original-order">date</a></li>
                  <li><a href="#" data-sort-value="name">name</a></li>
                  <li><a href="#" data-sort-value="activity">activity</a></li>
                  <li><a href="#" data-sort-value="progress">progress</a></li>
                </ul>
            </div>
    
        {% if apps %}
            <ul class="polaroids projects margin-top-sm">
                {% for app in apps %}
                    {{ helper.show_app(app, active_cat.short_name, current_user, upload_method) }}
                {% endfor %}
            </ul>
                {% if pagination.pages > 1 %}
                {{ helper.render_pagination(pagination) }}
            {% endif %}
            {% else %}
                <div class="container container-padded">
                    <h2 class="text-center inset-text-grey">{{_('Sorry, there are no published projects for this category yet')}}</h2>
                </div>
            {% endif %}
        </div>
    </div>
{{ helper.broken_image() }}
<script>
$( function() {
  // init Isotope
  var $container = $('.projects').isotope({
    itemSelector: '.project-item',
    layoutMode: 'fitRows',
    sortAscending: true,
    getSortData: {
      date: '.date',
      name: '.project-name',
      activity: '.activity',
      progress: '.progress parseInt',
    }
  });
  console.log($('.projects').isotope());

  // bind sort button click
  $('#sorts').on( 'click', 'a', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
    if (sortValue == 'original-order') {
        $("#order").text('date');
    }
    else {
        $("#order").text(sortValue);
    }
  });

  // change is-checked class on buttons
  $('.dropdown-toggle').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });

});
</script>
{% endblock %}