{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
    {{ render_local_nav(current_user, "statistics", app.short_name) }}
        <div class="container-padded hidden-container" style="display:none;">
            <div class="container container-padded">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        {% include "_flash_messages.html" %}
                        {{helper.render_app_title(app, upload_method, subtitle='Statistics') }}
                        <h3>Sorry, there are no statistics for this project yet</h3>
                    </div>
                </div>
            </div>
        </div>
{{ helper.broken_image() }}
{% endblock %}
