{% extends "/base.html" %}
{% set active_page = "applications"  %}
{% set active_app = app.short_name %}

{% block content %}
<script>
    Modernizr.load({
            test: window.JSON,
            nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
            });
</script>
<script src="{{url_for('static', filename="js/pybossa/pybossa.js")}}" type="text/javascript"></script>
<script src="/static/vendor/jquery.serializejson.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery.cookie.js')}}"></script>
<div id="api-key" data-key="{{current_user.api_key}}"></div>
    <div class="container-padded">
        <div class="container container-padded">
        {% if invite_new_volunteers %}
        <div class="row">
            <div class="col-xs-12">
                {% include "_flash_messages.html" %}
                <p>
                {{ _("Sorry, you've contributed to all the tasks for this project, but this project still needs more volunteers, so please spread the word!") }}
                </p>
            </div>
        </div>
        {% endif %}
        {{ app.info.task_presenter|safe }}
        
        
        <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
        en
        {% else %}
        {{ current_user.locale }}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
