{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
{% if app %}
{{ render_local_nav(current_user, "tasks", project.short_name) }}
<div class="container-padded hidden-container" style="display:none;">
    <div class="container container-padded">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {% include "_flash_messages.html" %}
                {{ helper.render_app_title(app, subtitle=_('Task Scheduler'))}}
                <p>{{_('You can choose from the following schedulers')}}:</p>
                <ul class="padding-bottom-sm">
                    <li><strong>{{_('Default')}}</strong> {{_('or')}}
                    <strong>{{_('Depth First')}}</strong>: returns the first task that has not been completed.</li>
                    <li><strong>{{_('Breadth First')}}</strong>: returns a task with the least number of answers.</li>
                    <li><strong>{{_('Random')}}</strong>: returns a random task - a user could get the same task more than once.</li>
                </ul>

                <form id="task_scheduler" class="form-horizontal" method="post" action="{{ url_for('project.task_scheduler', short_name=project.short_name) }}">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        {{ render_field(form.sched, class_="form-control", placeholder="Task scheduler for your app")}}
                        <div class="pull-right" role="group">
                            <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
                            <input type="submit" value="Set" class="btn btn-danger" />
                        </div>
                    </fieldset>
                </form>
            </div><!-- col-sm-9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This project does not exist.')}}.</h1>
  </div>
{% endif %}
</div>
                    </div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
