{% extends "/base.html" %}
{% set active_menu = "project" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ render_local_nav(current_user, active_link, active_menu, app.short_name) }}
<div class="container-padded">
    <div class="container container-padded">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {{ helper.render_app_title(app, subtitle=_('Setup task autoimporter'))}}
                <div class="row">
                    <div class="col-sm-12">
                        <p class="lead">{{_('Use one of the following available')}}
                        <strong>{{_('importers')}}</strong> {{_('to setup as the autoimporter')}}</p>
                    </div>
                </div>
                {% for row in available_importers|batch(2) %}
                <div class="row">
                    {% for importer in row %}
                    <div class="col-sm-6">
                        {% include importer %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
