/* Styling */
/* ======= */

.inline-block {
  display: inline-block;
}

ul {
  -webkit-padding-start: 0px;
  list-style: none;
}

.project-desc {
  height: 350px;
  overflow-y: auto;
}

.project-polaroid {
  padding-top: 30px;
}

.pull-down {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.pull-down-center {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
  padding-bottom: 25px;
}

a {
  color: #BA0000;
}
a:focus, a:hover {
  color: #D00000;	
  text-decoration: none;
}
#body-content {
   height:auto;
   min-height: 100%;
   position:relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  margin-bottom: 25px;
  color: #666;
}

p {
  margin: 0px 0px 20px;
}

h1 [class^="icon-"],
h2 [class^="icon-"],
h3 [class^="icon-"],
h4 [class^="icon-"],
h5 [class^="icon-"],
h6 [class^="icon-"] {
  color: #8bbf36;
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 5px;
}
a[rel="popover"] {
  cursor: pointer;
}
.label {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #1A1A1A;
}
.label-info {
  background-color: #4190c2;
}
.label-success {
  background-color: #CC0000;
}
input:focus,
textarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 191, 54, 0.6);
}

input[type="checkbox"] {
  width: auto;
}

.remove-padding {
  padding: 0px !important;
}
.remove-padding-left {
  padding-left: 0px !important;
}

.remove-padding-bottom {
  padding-bottom: 0px !important;
}

.padding-top {
  padding-top: 80px;
}

.padding-top-sm {
  padding-top: 40px;
}

.padding-top-xs {
  padding-top: 20px;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.padding-bottom-sm {
  padding-bottom: 30px;
}

.padding-left-xs {
  padding-left: 10px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.form-control {
  padding: 12px 15px;
  height: auto;
}

.form-horizontal .form-group {	
  margin-right: 0px;
  margin-left: 0px;
}

div.white-rounded {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid rgba(223,223,223,0.5);
}

div.white-rounded-panel {
  background-color: #FFFFFF;
  border: 1px solid #ECEDED;
  border-radius: 15px;
  display: inline-block;
  width: 100%;
}

#show-app-stats {
  height: 350px;
}

/* Layout */
/* ====== */
html {
  overflow-x: hidden;
  height:100%;
  width: 100%;
}

body {
  font-weight: lighter;
  font-size: 16px;
  background-color: #ffffff;
  height:100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040; 
}

hr.extra-margins {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-max-height {
  height: 100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-padded {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-main {
  padding-top: 100px;
  padding-bottom: 50px;
}

.navbar {
  font-family: sans-serif;
  font-weight: normal;
}

.navbar-fixed-top {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: rgba(255,255,255,0);
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  -webkit-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -moz-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -ms-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    -o-transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    transition: background-color 200ms 0s, padding-top 1s 0s, padding-bottom 1s 0s;
    z-index: 100;
}

.navbar-fixed-top.opaque {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,1);
  border-bottom: 2px solid #eeeeee;
}

.navbar-brand {
  padding: 0px 15px;
  margin: 0px;
}

.navbar-nav>li {
    padding: 0px 20px;
  }

.navbar .nav > li > a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    -webkit-transition: color 200ms 0s;
    -moz-transition: color 200ms 0s;
    -ms-transition: color 200ms 0s;
    -o-transition: color 200ms 0s;
    transition: color 200ms 0s;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #ffffff;
    color: #D00000;
}



.nav-link a:after {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background-color: #D00000;
content: '';
opacity: 0;
-webkit-transition: opacity .2s;
-moz-transition: opacity .2s;
-ms-transition: opacity .2s;
-o-transition: opacity .2s;
transition: opacity .2s;
-webkit-transition: -webkit-transform .2s;
-moz-transition: -moz-transform .2s;
-ms-transition: -ms-transform .2s;
-o-transition: -o-transform .2s;
transition: transform .2s;
-webkit-transform: translateY(10px);
-moz-transform: translateY(10px);
-ms-transform: translateY(10px);
-o-transform: translateY(10px);
transform: translateY(10px);
}


.nav-link.active a:after {
opacity: 1;
transform: none;
}

.nav-link:hover a:after {
opacity: 1;
transform: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a {
  color: #FFFFFF;
  background-color: rgba(255,255,255,0);
}

.dropdown-menu.opaque>li>a,
.navbar.opaque .nav > li > a,
.navbar-default.opaque .navbar-nav>li>a:focus,
.navbar-default.opaque .navbar-nav>.open>a:hover,
.navbar-default.opaque .navbar-nav>.open>a:focus,
.navbar-default.opaque .navbar-nav>.open>a {
  color: #666666;
}


.dropdown-menu>li>a:focus,
.dropdown-menu .nav-link a:hover,
.nav .open>ul>li>a:hover,
.nav .open>a:hover,
.navbar .nav > li > a:hover {
  color: #D00000;
  background-color: rgba(255,255,255,0);
}

.dropdown-menu {
  top: 63px;
  background-color: rgba(0,0,0,0.5);
}

.dropdown-menu .nav-link {
  background-color: rgba(255,255,255,0);
}

.dropdown-menu.opaque {
  background-color: rgba(255,255,255,1);
}

.dropdown-menu>li>a {
  color: #ffffff;
}

.dropdown-menu .nav-link a:after {
  width: 0%;
}

.navbar .nav > li > a .icon {
  font-size: 22px;
  vertical-align: top;
}

.navbar .btn-navbar {
  background-color: #8bbf36;
  background-image: none;
  border-color: #516f20 #516f20 #6e972b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.nav-pills {
  padding-bottom: 7px;
}

.nav-pills a {
  color: #fff;
}

.nav-pills>li {
  padding: 3px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #D00000;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
  background-color: #D00000;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #404040;
}

.nav-pills>li>a {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a {
  color: #2D2D2D;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
  background-image: url(../img/patterns/grey_carbon.png);
  text-shadow: #D2D2D2 0.5px 0.5px 0px;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  color: #6F0101;
  border: 1px solid #3F3F3F;
}

.nav-tabs>li.active>a {
  background-image: url(../img/patterns/white_carbon.png);
  color: #454545;
  text-shadow: #E8E8E8 0.5px 0.5px 0px;
  font-weight: 300;
}

.banner {
  background-color: #f7f7f7;
  position: relative;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  margin-left: -10px;
}
.banner:before,
.banner:after {
  content: "";
  position: absolute;
  background-color: #f7f7f7;
  top: 0;
  bottom: 0;
}
.banner:before {
  right: 100%;
  border-right: solid 10px #FFF;
}
.banner:after {
  left: 100%;
  border-left: solid 10px #FFF;
}

section.grey {
  position: relative;
}

section.grey,
section.grey:before,
section.grey:after {
  background-color: #FAFAFA;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FAFAFA;
}
section.grey:before,
section.grey:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
}
section.grey:before {
  right: 100%;
}
section.grey:after {
  left: 100%;
}

section.mid-grey {
  position: relative;
  color: #666666;
}

section.mid-grey p {
  color: #7e7e7e;
}

section.mid-grey,
section.mid-grey:before,
section.mid-grey:after {
  background-color: #F0F2F1;
}

section.mid-grey:before,
section.mid-grey:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
}
section.mid-grey:before {
  right: 100%;
}
section.mid-grey:after {
  left: 100%;
}

section.dark-grey {
  position: relative;
  color: #ffffff;
}

section.dark-grey p {
  font-weight: normal;
}

section.dark-grey,
section.dark-grey:before,
section.dark-grey:after {
  background-color: #292D2F;
}

section.dark-grey:before,
section.dark-grey:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
}
section.dark-grey:before {
  right: 100%;
}
section.dark-grey:after {
  left: 100%;
}

section.white {
  position: relative;
}

section.white,
section.white:before,
section.white:after {
  background-color: #ffffff;
}
section.white:before,
section.white:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
}
section.white:before {
  right: 100%;
}
section.white:after {
  left: 100%;
}

.box {
  background-color: #FFF;
  border: 1px solid #d9d9d9;
}
.app.box {
  padding: 5px;
  min-height: 138px;
  margin-bottom: 15px;
}
.app.box .image {
  display: block;
  max-width: 208px;
  width: 100%;
  height: 138px;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.app.box h3 {
  padding: 10px 5px 2px 5px;
  margin: 0px;
}
.app.box p {
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.app.box .btn {
  margin: 0px 4px 0px 0px;
}

body > footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Home Page */
/* ========= */
.banner > .row .span4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner > .row .span4 > * {
  padding-left: 10px;
}
.banner .featured {
  margin: -6px 0px 0px 0px;
  border-left: solid 2px #FFF;
  height: 309px;
  overflow: hidden;
}
.banner .featured li {
  display: block;
  float: left;
  width: 103px;
  height: 103px;
  background-color: #FFF;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 97px 97px;
}
.banner .featured li a {
  display: block;
  margin: 6px 0px 0px 6px;
  text-decoration: none;
}
.banner .featured li a h3 {
  margin: 2px 6px 0px 6px;
  color: #333333;
  font-size: 12px;
}
.banner .featured li a .label {
  margin: 6px;
  display: inline-block;
}
.banner .featured li a:hover {
  position: absolute;
  margin: -2px 0px 0px -2px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  background-color: #FFF;
  width: 112px;
  z-index: 2;
}
.banner .featured li a:hover img {
  border: solid 6px #FFF;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
}
.banner .featured li img {
    min-width: 100px;
    min-height: 100px;
}
.get-started .span4 p:first-of-type {
  margin-top: -10px;
}
.get-started .span8 .btn {
  margin: 18px 0px 18px 10px;
}
ul.users {
  margin: 0px 0px 10px -3px;
  height: 128px;
  overflow: hidden;
}
ul.users li {
  display: inline-block;
  margin: 0px 0px 5px 3px;
}
ul.users li a {
  display: block;
  margin-bottom: 5px;
  margin-right: 20px;
}

/* Cookies banner */

#cookies_warning {
    position: fixed;
    color: rgb(221, 221, 221);
    min-height: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left;
}

#cookies_warning > p {
    margin-top: 8px;
}

/* Media Queries */
/* ============= */
@media (max-width: 991px) {
  body {
    padding-top: 0px;
  }
  .navbar .container {
    width: 724px !important;
  }
  .navbar .brand {
    padding: 0px;
  }
  .navbar .brand img {
    max-height: 20px;
  }
  .navbar .nav > li > a {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .banner {
    padding: 0px;
    margin-left: 0px;
  }
  .banner .featured {
    border-left: solid 4px #FFF;
    height: 354px;
  }
  .banner .featured li {
    width: 118px;
    height: 118px;
    background-size: 112px 112px;
  }
  .banner .featured li a img {
    width: 112px;
  }
  .banner .featured li a:hover {
    width: 130px;
  }
  .banner .featured li a:hover img {
    width: 118px;
  }
  
  text-center-sm {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .navbar .container {
    width: auto !important;
  }
  
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #D00000;
}

.navbar.opaque .nav > li.active > a {
  color: #ffffff;
}

.navbar .nav > li > a {
  color: #404040;
}

.navbar-fixed-top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,1);
  border-bottom: 2px solid #eeeeee;
}
  
  .navbar-inner {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .banner .featured {
    display: none;
  }
  .app.box .image {
    float: left;
  }
  .app.box h3,
  .app.box p {
    margin-left: 220px;
  }
  body > footer {
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
  }
  body > footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .get-started .span8 .btn {
    margin: 10px 18px 18px 0px;
  }
}

/* Sidebar nav */
.bs-docs-sidenav {
  z-index: 99;
  padding: 0;
  width: 220px;
  background-color: #fff;
}

.bs-docs-sidenav > li > a {
  color: #666;
  display: block;
  margin: 0 0 -1px;
  padding: 10px 14px;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  transition: color 100ms;
  -webkit-transition: color 100ms;
}

.bs-docs-sidenav > .active > a {
  background-color: #D00000;
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav .nav-link.active a:after {
  opacity: 0;
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: rgba(255,255,255,0);
  color: #BA0000;
}
.bs-docs-sidenav > .active > a:hover {
  background-color: #D00000;
  color: #fff;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    font-size:18px;
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 100px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-sidenav {
    width: 220px;
  }
  .bs-docs-sidenav.affix {
    top: 100px;
  }
  .big-modal {
      width: 1000px;
      margin-left:-500px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 991px) {
  /* Unfloat brand */
  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    width: 180px;
    margin-top: 0px;
    margin-right: 0;
  }
  .bs-docs-sidenav.affix {
    top: 100px;
  }
  .big-modal {
      width: 800px;
      margin-left:-400px;
      margin-top: -60%;
  }
  
  .navbar-nav>li {
    padding: 0px 10px;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 0px;
  }
  .bs-docs-sidenav.affix {
    top: 100px;
  }
  .big-modal {
      width: 600px;
      margin-left:-300px;
      margin-top: -60%;
  }
  
}

/* Tablet / Phone
------------------------- */
@media (max-width: 767px) {
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0px;
  }
  
  .affix {
    position: relative;
  }
  
  .xs-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;  
  }
    #cookies_warning {
        padding: 2px 10px 2px;
    }
    
  
}

/* Tablet and above 
-------------------------*/
@media (min-width: 768px) {
  
  
  .sticky-footer-col {
    height: 100px;
    padding-top: 0px;
  }

  .img-dialog {
    width: 500px;
  }
  
  .pull-right-sm {
    float: right; 
  }
  
  .vcenter-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
  
  .pull-right-sm {
    float: right; 
  }

}

/*
 * Footer
 */
  
  .footer-links {
    display: inline;
  }
  
  .sticky-footer-col {
    padding-top: 10px;
  }
  
#sticky-footer {
  height: 120px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #FAFAFA;
    font-family: sans-serif;
    font-size: 12px;
}

#sticky-footer ul {
    color: #7B7B7B;
    list-style: none;
    padding:0;
    margin:0;
    width: 100%;
    text-align: center;
}

#main-body-content {
    padding-bottom: 120px;
}

#sticky-footer li {
    text-align: center;
    display: inline-block;
}

#sticky-footer li > a {
    color: #7B7B7B;
    transition: color 100ms;
    -webkit-transition: color 100ms;
}

#sticky-footer li > a:hover {
    color: #D00000;
    text-decoration:none;
}

/* Text styles 
-------------------------*/


@media (min-width: 768px) {
  .lead {
    font-size: 1.2em;
    font-weight: 200;
  }
}

.remove-colour {
  color: #404040 !important;  
}

p.muted {
  color: #7e7e7e;
}

p.score {
  margin-top: -20px;
  font-size: 28px;
}

.col-sm-3.control-label {
  line-height: 3;
}

.inset-text-grey {
  text-shadow: #efefef 0.5px 0.5px 0px;
  font-weight: 300;
  color: #777777;
}

.inset-text-grey-header {
  text-shadow: #efefef 0.5px 0.5px 0px;
  font-weight: 300;
  color: #777777;
  margin-top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  -moz-box-shadow: inset 0px -3px 5px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px -3px 5px -3px rgba(0,0,0,0.2);
  box-shadow: inset 0px -3px 5px -3px rgba(0,0,0,0.2);
  background-image: url(../img/patterns/brushed.png);
}

.inset-text-mid-grey {
  text-shadow: #EDEDED 0.5px 0.5px 0px;
  font-weight: 300;
  color: #545454;
}

.inset-text-dark-grey {
  text-shadow: #A6A6A6 0.5px 0.5px 0px;
  font-weight: 300;
  color: #474646;
}

.pattern-brushed-alu h2 a {
color: #f4645f;
text-shadow: #F9F9F9 0.5px 0.5px 0px;
/* font-weight: 400; */
color: #797979;
}

.pattern-white-wall-2x h1,
.pattern-white-wall-2x h2,
.pattern-white-wall-2x h3,
.pattern-white-wall h1,
.pattern-white-wall h2,
.pattern-white-wall h3 {
  color: #696969
}

/* Background colours
-------------------------*/

.white-bg {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #FAFAFA;
}

/*
 * Icons
 */

i.fa-trophy {
  color: #FFC041;
}

i.fa-users {
  color: #CF60C9;
}

i.fa-tasks {
  color: #3A7BD2;
}

i.fa-check-square-o {
  color: #15b592;
}

h1 i,
h2 i,
h3 i {
  padding-right: 10px;
}



/**
 * Buttons
 ------------------------*/

.btn-inverse{
  padding: 0px 0px;  
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
}

.btn-padded {
margin-top: 10px;
margin-bottom: 10px;
}

.btn-circle {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
  text-transform:uppercase;
}

.btn-circle a {
  color: #fff;
  display: inline-block;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4splashs;
  -ms-transition: -ms-transform .4s;
  -o-transition: -o-transform .4s;
  transition: transform .4s;
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  -o-transform: translateY(-90px);
  transform: translateY(-90px);
}

.btn-circle a div {
  height: 90px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.btn-circle:hover a {
  transform: none;
}

.btn-circle:hover,
.btn-circle:focus,
.btn-circle:active,
.btn-circle.active,
.open .dropdown-toggle.btn-primary {
  color: #FAFAFA;
  background-position: 0 -15px;
}

#btn-group-cookies {
  position: relative;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

@media (min-width: 992px) {
  #btn-group-cookies {
    padding-left: 10px;
    display: inline-block;
  }
  
  .pull-right-md {
    float: right; 
  }
}

.input-group-btn .form-control.search-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.btn-default,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  background-color: #ffffff;
	border-radius:3px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:600;
	transition: background-color .3s, color .5s;
	-webkit-transition: background-color .3s, color .5s; /* Safari */
}
.btn:active,
.btn.active {
  background-image: none;
}

.btn-primary {
  border:2px solid #357ebd;
  color:#357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #357ebd;
  border-color: #285e8e;
  background-position: 0 -15px;
}

.btn-primary .badge {
  color: #357ebd;
  background-color: #ffffff;
}

.btn-default {
  color:#ADADAD;
  border:2px solid #ADADAD;
}


.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FFFFFF;
  background-color: #ADADAD;
  border-color: #888D88;
}

.btn-default .badge {
  color: #ADADAD;
  background-color: #ffffff;
}

.btn-success {
  border:2px solid #2B9884;
  color:#2B9884;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #2B9884;
  border-color: #398439;
  background-position: 0 -15px;
}

.btn-success .badge {
  color: #2B9884;
  background-color: #ffffff;
}

.btn-info {
    color:#5bc0de;
    border:2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}

.btn-warning {
  border: 2px solid #e38d13;
  color: #e38d13;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #e38d13;
  border-color: #d58512;
}

.btn-warning .badge {
  color: #e38d13;
  background-color: #ffffff;
}

.btn-danger {
  border:2px solid #d2322d;
  color:#d2322d;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger .badge {
  color: #d2322d;
  background-color: #ffffff;
}

.btn-secondary {
  background-color:#2B9884;
  border:2px solid #fff;
  color:#fff;
  padding:10px 20px;
  font-weight:600;
  font-size:13px;
}

.btn-filter {
  background-color:#fff;
  border-color:#ddd;
  color:#666;
}

/**
 * Splash
 */


.splash {
  background-image:url(../img/bl-above.jpg);
  background-size:cover;
  background-position: center;
  color:#fff;
  text-align:center;
  background-repeat: no-repeat;
  background-position: center;
}

.splash h1{
  font-size: 38px;
  text-shadow: none;
  color: #fff;
  font-weight: 200;
}

.splash-overlay {
  background: rgba(0,0,0,.5);
  -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 991px)  {
  .splash {
    min-height: 550px;
    max-height: 650px;
  }
}

@media (max-width: 767px) {
  .splash {
    margin-top: 60px;
    min-height: 200px;
    max-height: 200px;
  }
  
  .splash h1{
    display: none;
  }
  
  .splash .btn-circle {
    display: none;
  }
  
  text-center-xs {
    text-align: center;
  }
}



.vcenter {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
}

@media (min-width: 992px) {
  .vcenter-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
}

.hcenter {
  justify-content: center;
  align-items: center;
}

/**
 * Alert Messages
 */
 
.alert-messages {
  position: fixed;
  top: 80px;
  width: 50%;
  margin-left: 25%;
  z-index:110;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-message {
  color: #31708f;	
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/**
 * Images
 */

.profile-image {
  max-height: 300px;
}

.img-overlay-container {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 40%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    cursor: pointer;
}

.img-overlay .fa {
  padding-left: 5px;
}

.img-overlay:hover {
  opacity: 1;
  transform: none;
}

ul.polaroids a.polaroid:after {
  content: attr(data-polaroid-title);
}

ul.polaroids a.polaroid {
  list-style: none;
  word-wrap: break-word;
  background: #fff;
  display: inline;
  float: left;
  margin: 0 0 27px 30px;
  width: 170px;
  padding: 10px 10px 11px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
}

ul.polaroids a.polaroid.polaroid-sm {
  width: 120px;
}

ul.polaroids .polaroid-sm img {
  height: 100px;
}

ul.polaroids a.polaroid:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
ul.polaroids .polaroid li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
 
ul.polaroids .polaroid li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
ul.polaroids .polaroid li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}
 
ul.polaroids .polaroid li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}

ul.polaroids .polaroid img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.jcrop-holder div {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.jcrop-keymgr {
  display: none !important;
}

.jcrop-holder {
  display:block;
  margin-right:auto;
  margin-left:auto
}

.loading-overlay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:105;
  width:100%;
  height:100%;
  display: none;
  
}

.loading-text {
  color: white;
  text-align: center;
  font-size: 36px;
  height: 100%;
}


/**
 * Patterns
 */


.pattern-micro-carbon-2x {
  background-image: url(../img/patterns/micro_carbon_@2X.png.png);
}

.pattern-micro-carbon {
  background-image: url(../img/patterns/micro_carbon.png.png);
}

.pattern-binding-dark-2x {
  background-image: url(../img/patterns/binding_dark_@2X.png);
}

.pattern-binding-dark {
  background-image: url(../img/patterns/binding_dark.png);
}

.pattern-brushed-2x {
  background-image: url(../img/patterns/brushed_@2X.png);
}

.pattern-brushed-alu-2x {
  background-image: url(../img/patterns/brushed_alu_@2X.png);
}

.pattern-brushed-alu-dark-2x {
  background-image: url(../img/patterns/brushed_alu_dark_@2X.png);
}

.pattern-brushed-alu-dark {
  background-image: url(../img/patterns/brushed_alu_dark.png);
}

.pattern-brushed-alu {
  background-image: url(../img/patterns/brushed_alu.png);
}

.pattern-brushed {
  background-image: url(../img/patterns/brushed.png);
}

.pattern-classy-fabric-2x {
  background-image: url(../img/patterns/classy_fabric_@2X.png);
}

.pattern-classy-fabric {
  background-image: url(../img/patterns/classy_fabric.png);
}

.pattern-crossword {
  background-image: url(../img/patterns/crossword.png);
}

.pattern-furley-bg-2x {
  background-image: url(../img/patterns/furley_bg_@2X.png);
}

.pattern-furley-bg {
  background-image: url(../img/patterns/furley_bg.png);
}


.pattern-grey-wash-wall-2x {
  background-image: url(../img/patterns/grey_wash_wall_@2X.png);
}

.pattern-grey-wash-wall {
  background-image: url(../img/patterns/grey_wash_wall.png);
}

.pattern-white-bed-sheet {
  background-image: url(../img/patterns/white_bed_sheet.png.png);
}

.pattern-white-bed-sheet-2x {
  background-image: url(../img/patterns/white_bed_sheet_@2X.png.png);
}

.pattern-linen {
  background-image: url(../img/patterns/linen.png);
}

.pattern-linen-2x {
  background-image: url(../img/patterns/linen_@2X.png);
}

.pattern-white-carbon-2x {
  background-image: url(../img/patterns/white_carbon_@2X.png);
}

.pattern-white-carbon{
  background-image: url(../img/patterns/white_carbon.png);
}

.pattern-grey-carbon{
  background-image: url(../img/patterns/grey_carbon.png);
}

.pattern-white-wall {
  background-image: url(../img/patterns/white_wall_hash.png);
}

.pattern-white-wall-2x {
  background-image: url(../img/patterns/white_wall_hash_@2X.png);
}

/**
 * Shadows
 */

.shadow
{
    display:block;
    position:relative;
}
 
.shadow img
{
    display:block;
}
 
.shadow::before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.shadow-circle {
  border-top: 1px solid #ECEDED;
  border-radius: 50%;
}

.shadow-circle::before {
  border-radius: 50%;  
}

.inset-shadow {
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    border: 1px solid rgba(223,223,223,0.5);
}

.inset-shadow-white {
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,1);
}

.inset-shadow-top {
  -moz-box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.2);
  box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(223,223,223,0.5);
}

.inset-shadow-bottom {
  -moz-box-shadow: inset 0px -3px 5px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px -3px 5px -3px rgba(0,0,0,0.2);
  box-shadow: inset 0 -3px 5px -3px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(223,223,223,0.5);
}

.div .text-shadow {
  color: rgb(130, 130, 130);
  font-size: 54px;
  background-color: rgb(186, 186, 186);
  text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

::-moz-selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

.box-shadow-white-bottom {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid rgba(255,255,255,1);
}

.box-shadow-grey-bottom {
  box-shadow: 2px 4px 4px -4px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 4px 4px -4px rgba(0,0,0,.4);
  -moz-box-shadow: 2px 4px 4px -4px rgba(0,0,0,.4);
  z-index: 2;
  border-bottom: 1px solid rgba(223,223,223,0.5);
}

.box-shadow-grey-top {
box-shadow: 0px -3px 4px -4px rgba(0,0,0,.4);
-webkit-box-shadow: 0px -3px 4px -4px rgba(0,0,0,.4);
-moz-box-shadow: 0px -3px 4px -4px rgba(0,0,0,.4);
z-index: 2;
border-top: 1px solid rgba(223,223,223,0.5);
}

.box-shadow-grey {
  box-shadow: 0px 0px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
  z-index: 2;
  border: 1px solid rgba(223,223,223,0.5);
}

.border-radius-sm{
  border-radius: 6px;
}

/**
 * Progress Bar
 */

.meter {
  height: 350px;
  width: 50px;
  position: relative;
  background: #fff;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.meter > span {
  display: block;
  width: 50px !important;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
  background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
  background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.same-height-parent {
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 0;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    overflow: hidden;
}

.same-height-child {
  -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 0 0;

    overflow: auto;
}

/*
 * Table
 */

thead {
  background: rgba(0, 0, 0, 0.15);
}

.table-striped>tbody>tr:nth-of-type(even) {
background-color: rgba(0,0,0,0.05);
}

.table-striped>tbody>tr:nth-of-type(odd) {
background-color: rgba(255,255,255,1);
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
  padding: 5px 15px 5px;
}



.well {
  min-height: 230px;
  border-radius: 6px;
  background-image: url(../img/patterns/brushed.png);
  text-shadow: #efefef 0.5px 0.5px 0px;
  font-weight: 300;
  color: #777777;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 0px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 1;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 10px 40px 30px 40px;
}

.well .btn-dash {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/*
 * Code Editor
 */

.CodeMirror {
  width: 100% !important;
  height: 100% !important;
  font-size: 12px;
  padding-top: 35px;
}

#code-btns {
  background-color: #F7F7F7;
  padding-left: 34px;
  border-bottom: 1px solid #DDDDDD;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.btn-code {
  border-radius: 0px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background-color: rgba(255,255,255,0.5);
  color: #BA0000;
  transition: background-color 0.25s;
}

.btn-code:hover,
.btn-code:focus {
  background-color: rgba(0,0,0,0.05);
}

.web-badge {
  max-height: 100px;
  max-height: 100px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -0-transition: .5s ease-in-out;
}

.web-badge:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}