.form-control[readonly].readonly-select{cursor:pointer;background-color:#fff}
.inline-block{display:inline-block}
ul{-webkit-padding-start:0px;-moz-padding-start:0px;padding-left:0px;list-style:none}
.project-desc{height:100%}
.project-polaroid{padding-top:25px}
.pull-down{align-items:flex-end;display:flex;justify-content:flex-end;-ms-flex-pack:end}
.pull-down-center{align-items:flex-end;display:flex;justify-content:flex-end;-ms-flex-pack:end;height:100%;width:50%;padding-bottom:25px}
a{color:#BA0000}
a:focus,a:hover{color:#D00000;text-decoration:none}
#body-content{height:auto;min-height:100%;position:relative}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:200}
.h1,.h2,.h3,h1,h2,h3{margin-bottom:25px;color:#666}
.h1,h1{font-size:2.2em}
.h2,h2{font-size:1.8em}
.h3,h3{font-size:1.5em}
.h4,h4{font-size:1.2em}
p{margin:0 0 20px}
h1 [class^="icon-"],h2 [class^="icon-"],h3 [class^="icon-"],h4 [class^="icon-"],h5 [class^="icon-"],h6 [class^="icon-"]{color:#8bbf36;font-size:1.5em;vertical-align:middle;margin-right:5px}
a[rel="popover"]{cursor:pointer}
.label{-webkit-border-radius:0;border-radius:0;background-color:#1A1A1A}
.label-info{background-color:#4190c2}
.label-success{background-color:#398439}
.label-danger{background-color:#BA0000}
.label-default{background-color:#ADADAD}
input[type="checkbox"]{-webkit-appearance:checkbox;height: auto;width:auto;margin-top:19px}
.visible-form input[type="checkbox"]{margin-top:1px}
input:focus,textarea:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(139,191,54,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(139,191,54,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(139,191,54,0.6)}
.inline-radio li{display:inline-block;padding-right:20px}
textarea{resize:none}
.remove-padding{padding:0!important}
.remove-padding-left{padding-left:0!important}
.remove-padding-bottom{padding-bottom:0!important}
.remove-padding-top{padding-top:0!important}
.remove-margin-bottom{margin-bottom:0!important}
.padding-top{padding-top:80px}
.padding-top-sm{padding-top:40px}
.padding-top-xs{padding-top:20px}
.margin-top-xs{margin-top:10px}
.margin-top-sm{margin-top:20px}
.margin-right-xs{margin-right:10px}
.margin-bottom-xs{margin-bottom:10px}
.padding-bottom{padding-bottom:50px}
.padding-bottom-sm{padding-bottom:30px}
.padding-left-xs{padding-left:10px}
.margin-bottom{margin-bottom:50px}
.form-control{padding:12px 15px;height:47px;}
.form-horizontal .form-group{margin-right:0;margin-left:0}
div.white-rounded{background-color:#FFF;padding:20px 30px;border-radius:15px}
div.white-rounded-panel{background-color:#FFF;border:1px solid #ECEDED;border-radius:15px;display:inline-block;width:100%}
#show-app-stats .btn{position:absolute;right:25%;bottom:0px;}
#sorts{z-index:1}
html{overflow-x:hidden;height:100%;width:100%}
body{height:100%;font-weight:lighter;background-color:#fff;min-height:800px;width:100%;font-family:'Source Sans Pro',sans-serif;color:#666}
hr.extra-margins{margin-top:40px;margin-bottom:40px}
.container-max-height{height:100%}
.container-fluid{padding-left:0;padding-right:0}
.container-padded{padding-top:50px;padding-bottom:50px}
.container-main{padding-top:100px;padding-bottom:50px}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:450px;}
.navbar{font-family:sans-serif;font-weight:400}
.navbar-fixed-top{padding-top:30px;padding-bottom:25px;background-color:rgba(255,255,255,0);border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;font-size:14px;-webkit-transition:background-color 200ms 0s,padding-top 1s 0s,padding-bottom 1s 0s;-moz-transition:background-color 200ms 0s,padding-top 1s 0s,padding-bottom 1s 0s;-ms-transition:background-color 200ms 0s,padding-top 1s 0s,padding-bottom 1s 0s;-o-transition:background-color 200ms 0s,padding-top 1s 0s,padding-bottom 1s 0s;transition:background-color 200ms 0s,padding-top 1s 0s,padding-bottom 1s 0s;z-index:9999}
.navbar-fixed-top.opaque{padding-top:10px;padding-bottom:10px;background-color:rgba(255,255,255,1);border-bottom:2px solid #eee}
.navbar-brand{padding:0 15px;margin:0}
.navbar-nav>li{margin:0 20px}
.navbar .nav > li > a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#fff;-webkit-transition:color 200ms 0;-moz-transition:color 200ms 0;-ms-transition:color 200ms 0;-o-transition:color 200ms 0;transition:color 200ms 0}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{background-color:#fff;color:#D00000}
.nav-link a:after{position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#D00000;content:'';opacity:0;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;-webkit-transition:-webkit-transform .2s;-moz-transition:-moz-transform .2s;-ms-transition:-ms-transform .2s;-o-transition:-o-transform .2s;transition:transform .2s;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-ms-transform:translateY(10px);-o-transform:translateY(10px);transform:translateY(10px)}
.nav-link.active a:after{opacity:1;transform:none}
.navbar-fixed-top .nav-link:hover a:first-child:after,.navbar-fixed-top .nav-link:focus a:first-child:after{opacity:1;transform:none}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a{color:#FFF;background-color:rgba(255,255,255,0)}
.dropdown-menu.opaque>li>a,.navbar.opaque .nav > li > a,.navbar-default.opaque .navbar-nav>li>a:focus,.navbar-default.opaque .navbar-nav>.open>a:hover,.navbar-default.opaque .navbar-nav>.open>a:focus,.navbar-default.opaque .navbar-nav>.open>a{color:#666}
.dropdown-menu>li>a:focus,.dropdown-menu .nav-link a:hover,.nav .open>ul>li>a:hover,.nav .open>a:hover,.navbar .nav > li > a:hover{color:#D00000;background-color:rgba(255,255,255,0)}
.nav > .nav-link.open > .dropdown-menu.opaque > li > a:hover,.nav > .nav-link.open a.dropdown-toggle:hover {color:#D00000;}
.dropdown-menu{top:63px;background-color:rgba(0,0,0,0.5)}
.dropdown-menu .nav-link{background-color:rgba(255,255,255,0)}
.dropdown-menu.opaque{background-color:rgba(255,255,255,1)}
.dropdown-menu>li>a{color:#fff}
.dropdown-menu .nav-link a:after{width:0}
.navbar .nav > li > a .icon{font-size:22px;vertical-align:top}
.navbar .btn-navbar{background-color:#8bbf36;background-image:none;border-color:#516f20 #516f20 #6e972b;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.nav-pills{padding-bottom:7px}
.nav-pills a{color:#fff}
.nav-pills>li{padding:3px}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover,.nav-pills>li>a,.nav-pills>li>a:focus,.nav-pills>li>a:hover{background-color:#D00000}
.nav-pills.nav-pills-dark>li.active>a,.nav-pills.nav-pills-dark>li.active>a:focus,.nav-pills.nav-pills-dark>li.active>a:hover{background-color:rgba(0,0,0,0.75);color:#fff}
.nav-pills>li>a:focus,.nav-pills>li>a:hover{background-color:rgba(255,255,255,0.7);color:#404040}
.nav-pills.nav-pills-dark>li>a:focus,.nav-pills.nav-pills-dark>li>a:hover{background-color:rgba(0,0,0,0.3);color:#404040}
.nav-pills>li>a{background-color:rgba(255,255,255,0.1);transition:background-color .5s;-webkit-transition:background-color .5s;-ms-transition:background-color .5s;-moz-transition:background-color .5s;-o-transition:background-color .5s}
.nav-pills.nav-pills-dark>li>a{background-color:rgba(0,0,0,0.1);color:#696969}
.nav-tabs{border-bottom:none}
.nav-tabs>li>a{color:#2D2D2D;font-weight:400;border-radius:10px 10px 0 0;background-image:url(../img/patterns/grey_carbon.png);text-shadow:#D2D2D2 .5px .5px 0}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{color:#6F0101;border:1px solid #3F3F3F}
.nav-tabs>li.active>a{background-image:url(../img/patterns/white_carbon.png);color:#484848;text-shadow:#E8E8E8 .5px .5px 0;font-weight:300}
.banner{background-color:#f7f7f7;position:relative;margin-bottom:15px;padding:0 0 0 10px;width:100%;margin-left:-10px}
.banner:before,.banner:after{content:"";position:absolute;background-color:#f7f7f7;top:0;bottom:0}
.banner:before{right:100%;border-right:solid 10px #FFF}
.banner:after{left:100%;border-left:solid 10px #FFF}
section.grey{position:relative}
section.grey,section.grey:before,section.grey:after{background-color:#FAFAFA;border-top-width:1px;border-top-style:solid;border-top-color:#FAFAFA}
section.grey:before,section.grey:after{content:"";position:absolute;top:-1px;bottom:-1px}
section.grey:before{right:100%}
section.grey:after{left:100%}
section.mid-grey{position:relative;color:#666}
section.mid-grey p{color:#777}
section.mid-grey,section.mid-grey:before,section.mid-grey:after{background-color:#F0F2F1}
section.mid-grey:before,section.mid-grey:after{content:"";position:absolute;top:-1px;bottom:-1px}
section.mid-grey:before{right:100%}
section.mid-grey:after{left:100%}
section.dark-grey{position:relative;color:#fff}
section.dark-grey p{font-weight:400}
section.dark-grey,section.dark-grey:before,section.dark-grey:after{background-color:#292D2F}
section.dark-grey:before,section.dark-grey:after{content:"";position:absolute;top:-1px;bottom:-1px}
section.dark-grey:before{right:100%}
section.dark-grey:after{left:100%}
section.white{position:relative}
section.white,section.white:before,section.white:after{background-color:#fff}
section.white:before,section.white:after{content:"";position:absolute;top:-1px;bottom:-1px}
section.white:before{right:100%}
section.white:after{left:100%}
.box{background-color:#FFF;border:1px solid #d9d9d9}
.app.box{padding:5px;min-height:138px;margin-bottom:15px}
.app.box .image{display:block;max-width:208px;width:100%;height:138px;background-image:url(../img/placeholder.png);background-repeat:no-repeat;background-size:cover;-webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.5);box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.5)}
.app.box h3{padding:10px 5px 2px;margin:0}
.app.box p{padding-left:5px;margin-bottom:5px;font-size:12px}
.app.box .btn{margin:0 4px 0 0}
body > footer .container{padding-top:20px;padding-bottom:20px}
.banner .featured{margin:-6px 0 0;border-left:solid 2px #FFF;height:309px;overflow:hidden}
.banner .featured li{display:block;float:left;width:103px;height:103px;background-color:#FFF;background-image:url(../img/placeholder.png);background-repeat:no-repeat;background-position:right bottom;background-size:97px 97px}
.banner .featured li a{display:block;margin:6px 0 0 6px;text-decoration:none}
.banner .featured li a h3{margin:2px 6px 0;color:#333;font-size:12px}
.banner .featured li a .label{margin:6px;display:inline-block}
.banner .featured li a:hover{position:absolute;margin:-2px 0 0 -2px;-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.8);box-shadow:0 0 3px 0 rgba(0,0,0,0.8);background-color:#FFF;width:112px;z-index:2}
.banner .featured li a:hover img{border:solid 6px #FFF;-webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.5);box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.5);width:100px}
.banner .featured li img{min-width:100px;min-height:100px}
ul.users{margin:0 auto;display:table;}
ul.users li{display:inline-block;margin:25px 0 0px 3px;float:none;}
ul.users li a{display:block;margin-bottom:5px;margin-right:10px;margin-left:10px}
#cookies_warning{position:fixed;color:#ddd;min-height:30px;position:fixed;left:0;bottom:0;width:100%;z-index:99999;padding:6px 20px 4px;background-color:rgba(70,70,70,0.9);text-align:left}
#cookies_warning > p{margin-top:8px}
.bs-docs-sidenav{z-index:99;padding:0;width:220px;background-color:rgba(0,0,0,0.7);position:fixed;}
.bs-docs-sidenav.affix li:first-child{padding-top:40px}
.bs-docs-sidenav.affix .nav-stacked li:first-child{padding-top:10px}
.bs-docs-sidenav li.nav-link{margin-bottom:5px}
.bs-docs-sidenav li > a{color:#A0A0A0;display:block;margin:0 0 -1px;padding:10px 20px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;transition:color 100ms;-webkit-transition:color 100ms;-ms-transition:color 100ms;-moz-transition:color 100ms;-o-transition:color 100ms}
.bs-docs-sidenav li > a.active, .bs-docs-sidenav li > a.active:hover, .bs-docs-sidenav li > a.active:focus{background-color:#BA0000;color:#F7F7F7;position:relative;z-index:2;padding:9px 20px;border:0;text-shadow:0 1px 0 rgba(0,0,0,.15);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1);-moz-box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1);box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1)}
.bs-docs-sidenav .nav-link.active a:after{opacity:0}
.bs-docs-sidenav .nav-link a:after{bottom:0;right:0;left:initial;background-color:#BA0000;height:100%;width:2px;content:'';opacity:0;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;-webkit-transition:-webkit-transform .2s;-moz-transition:-moz-transform .2s;-ms-transition:-ms-transform .2s;-o-transition:-o-transform .2s;transition:transform .2s;-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);-o-transform:translateX(-5px);transform:translateX(-5px)}
.bs-docs-sidenav .nav-link:hover > a:first-child:after,.bs-docs-sidenav .nav-link:focus > a:first-child:after{opacity:1;transform:none}
.bs-docs-sidenav .nav-stacked li > a:hover,.bs-docs-sidenav .nav-stacked li > a:focus{background-color:rgba(255,255,255,0.7);color:#404040}
.bs-docs-sidenav a.active:hover i,.bs-docs-sidenav a.active:focus i,.bs-docs-sidenav>li>a.active i{color:#fff}
.bs-docs-sidenav>li>a:hover i{color:#BA0000}
.bs-docs-sidenav>li>a:hover,.bs-docs-sidenav>li>a:focus{background:rgba(255,255,255,0)}
.bs-docs-sidenav>li.nav-link.active>a:hover,.bs-docs-sidenav>li.nav-link.active>a:focus,.bs-docs-sidenav>li.nav-link.active>a{background-color:#BA0000;color:#fff}
.bs-docs-sidenav.affix{top:70px;height:100%;font-size:14px;overflow-y:auto}
.bs-docs-sidenav.affix-bottom{position:absolute;top:auto;bottom:270px}
.nav-list .nav-stacked{background:rgba(255,255,255,0.8)}
.nav-stacked .divider{height:1px;margin:9px;overflow:hidden;background-color:#e5e5e5}
.nav-stacked li > a{color:#888;padding:2px 18px}
.footer-links{display:inline}
.sticky-footer-col{padding-top:10px}
#sticky-footer{height:120px;margin-top:20px;padding-top:10px;padding-bottom:10px;width:100%;position:absolute;bottom:0;background-color:#FAFAFA;font-family:sans-serif;font-size:12px;z-index:100}
#sticky-footer ul{color:#777;list-style:none;padding:0;margin:0;width:100%;text-align:center}
#main-body-content{padding-bottom:120px;min-height:800px}
#sticky-footer li{text-align:center;display:inline-block}
#sticky-footer li > a{color:#777;transition:color 100ms;-webkit-transition:color 100ms;-ms-transition:color 100ms;-moz-transition:color 100ms;-o-transition:color 100ms}
#sticky-footer li > a:hover{color:#D00000;text-decoration:none}
#browser-detection{background:#FFF;color:#333;position:fixed;_position:fixed;top:25%;left:25%;border-radius:5px;border:1px solid #D6D6C1;-moz-border-radius:5px;width:50%;z-index:1001;padding:10px 20px}
#browser-detection P{background:transparent;line-height:135%;width:auto;float:none;border:none;text-align:left;margin:0;padding:0}
#browser-detection P.bd-title{padding-top:0;font-size:25px;line-height:100%}
#browser-detection P.bd-notice{padding-bottom:5px;padding-top:5px}
#browser-detection SPAN.bd-highlight{color:#B50E0E}
#browser-detection A#browser-detection-close{width:15px;height:15px;outline:none;position:absolute;right:10px;top:10px;text-indent:-500em;line-height:100%;background:url(./images/close.gif) no-repeat center center}
#browser-detection A#browser-detection-close:HOVER{background-color:#F5F5DC}
#browser-detection UL.bd-browsers-list,#browser-detection UL.bd-browsers-list LI,#browser-detection UL.bd-skip-buttons,#browser-detection UL.bd-skip-buttons LI{font-size:10px;list-style:none;margin:0;padding:0;padding-top:20px;padding-bottom:20px;}
#browser-detection UL.bd-browsers-list{clear:both;margin-top:3px;border-top:1px solid #F5F5DC;border-bottom:1px solid #F5F5DC;width:100%;padding:7px 0;display:table}
#browser-detection UL.bd-browsers-list LI{text-align:left;display:inline-block}
#browser-detection UL.bd-browsers-list LI A{width:100px;height:55px;display:block;color:#666;text-decoration:none;padding:10px 10px 0 65px}
#browser-detection UL.bd-browsers-list LI.firefox A{background:url(../img/firefox.gif) no-repeat left top}
#browser-detection UL.bd-browsers-list LI.chrome A{background:url(../img/chrome.gif) no-repeat left top}
#browser-detection UL.bd-browsers-list LI.safari A{background:url(../img/safari.gif) no-repeat left top}
#browser-detection UL.bd-browsers-list LI.opera A{background:url(../img/opera.gif) no-repeat left top}
#browser-detection UL.bd-browsers-list LI.msie A{background:url(../img/msie.gif) no-repeat left top}
.remove-colour{color:#404040!important}
p.muted{color:#777}
p.score{margin-top:-20px;font-size:1.8em}
.col-sm-3.control-label{line-height:3}
.inset-text-grey{text-shadow:#efefef .5px .5px 0;font-weight:300;color:#777}
.inset-text-grey-header{text-shadow:#efefef .5px .5px 0;font-weight:300;color:#777;margin-top:0;border-top-left-radius:15px;border-top-right-radius:15px;padding:10px;-moz-box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);background-image:url(../img/patterns/brushed.png)}
.inset-text-mid-grey{text-shadow:#EDEDED .5px .5px 0;font-weight:300;color:#545454}
.inset-text-dark-grey{text-shadow:#A6A6A6 .5px .5px 0;font-weight:300;color:#484848}
.pattern-brushed-alu h2 a{color:#f4645f;text-shadow:#F9F9F9 .5px .5px 0;color:#777}
.pattern-white-wall-2x h1,.pattern-white-wall-2x h2,.pattern-white-wall-2x h3,.pattern-white-wall h1,.pattern-white-wall h2,.pattern-white-wall h3{color:#696969}
.white-bg{background-color:#fff}
.grey-bg{background-color:#FAFAFA}
i.fa-trophy{color:#FFC041}
i.fa-users{color:#CF60C9}
i.fa-tasks{color:#3A7BD2}
i.fa-check-square-o{color:#15b592}
h1 i,h2 i,h3 i{padding-right:10px}
.btn-twitter{background:#00acee;border-radius:0;color:#fff;}
.btn-twitter:active,.btn-twitter:hover{background:#0087bd;color:#fff;}
.btn-facebook{background:#3b5998;border-radius:0;color:#fff;}
.btn-facebook:active,.btn-facebook:hover{background:#30477a;color:#fff;}
.btn-googleplus{background:#e93f2e;border-radius:0;color:#fff;}
.btn-googleplus:active,.btn-googleplus:hover{background:#ba3225;color:#fff;}
.btn-stumbleupon{background:#f74425;border-radius:0;color:#fff;}
.btn-stumbleupon:active,.btn-stumbleupon:hover{background:#c7371e;color:#fff;}
.btn-linkedin{background:#0e76a8;border-radius:0;color:#fff;}
.btn-linkedin:active,.btn-linkedin:hover{background:#0b6087;color:#fff;}
.btn-twitter:link,.btn-twitter:visited,.btn-facebook:link,.btn-facebook:visited,.btn-googleplus:link,.btn-googleplus:visited,.btn-stumbleupon:link,.btn-stumbleupon:visited,.btn-linkedin:link,.btn-linkedin:visited{color:#fff;}
.btn-inverse{padding:0}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:3px}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1;border-radius:3px}
.btn-padded{margin-top:10px;margin-bottom:10px}
.btn-circle{z-index:1;width:90px;height:90px;margin:0 auto;border-radius:50%;border:1px solid #fff;display:block;cursor:pointer;position:relative;overflow:hidden;font-weight:200;font-size:18px;color:#fff;text-transform:uppercase}
.btn-circle a{color:#fff;display:inline-block;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:-webkit-transform .4s;-moz-transition:-moz-transform .4splashs;-ms-transition:-ms-transform .4s;-o-transition:-o-transform .4s;transition:transform .4s;-webkit-transform:translateY(-90px);-moz-transform:translateY(-90px);-ms-transform:translateY(-90px);-o-transform:translateY(-90px);transform:translateY(-90px)}
.btn-circle a div{height:87px;text-transform:uppercase;font-size:14px;font-weight:300}
.btn-circle:hover a{transform:none}
.btn-circle:hover,.btn-circle:focus,.btn-circle:active,.btn-circle.active,.open .dropdown-toggle.btn-primary{color:#FAFAFA;background-position:0 -15px}
#btn-group-cookies{position:relative;display:flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-flex;display:flex;vertical-align:middle;justify-content:center;-ms-flex-pack:center}
.input-group-btn .form-control.search-button{border-top-right-radius:10px;border-bottom-right-radius:10px;padding-bottom:10px}
.btn-default,.btn-primary,.btn-secondary,.btn-success,.btn-info,.btn-warning,.btn-danger{text-shadow:initial;background-color:#fff;border-radius:3px;text-transform:uppercase;font-size:15px;font-weight:600;transition:background-color .3s,color .5s;-webkit-transition:background-color .3s,color .5s;-moz-transition:background-color .3s,color .5s;-ms-transition:background-color .3s,color .5s;-o-transition:background-color .3s,color .5s}
.btn:active,.btn.active{background-image:none}
.btn-primary{border:2px solid #357ebd;color:#357ebd}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#357ebd;border-color:#285e8e;background-position:0 -15px}
.btn-primary .badge{color:#357ebd;background-color:#fff}
.btn-default{color:#ADADAD;border:2px solid #ADADAD}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{color:#FFF;background-color:#ADADAD;border-color:#888D88}
.btn-default .badge{color:#ADADAD;background-color:#fff}
.btn-success{border:2px solid #2B9884;color:#2B9884}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{color:#fff;background-color:#2B9884;border-color:#398439;background-position:0 -15px}
.btn-success .badge{color:#2B9884;background-color:#fff}
.btn-info{color:#5bc0de;border:2px solid #5bc0de}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}
.btn-info .badge{color:#5bc0de;background-color:#fff}
.btn-warning{border:2px solid #e38d13;color:#e38d13}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{color:#fff;background-color:#e38d13;border-color:#d58512}
.btn-warning .badge{color:#e38d13;background-color:#fff}
.btn-danger{border:2px solid #d2322d;color:#d2322d}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{color:#fff;background-color:#d2322d;border-color:#ac2925}
.btn-danger .badge{color:#d2322d;background-color:#fff}
.btn-secondary{background-color:#2B9884;border:2px solid #fff;color:#fff;padding:10px 20px;font-weight:600;font-size:13px}
.btn-filter{background-color:#fff;border-color:#ddd;color:#666}
.splash{background-size:cover;color:#fff;text-align:center;background-repeat:no-repeat;}
.splash h1{font-size:2.0em;text-shadow:none;color:#fff;font-weight:200}
.splash-overlay{-webkit-transition:background 1s;-moz-transition:background 1s;-ms-transition:background 1s;-o-transition:background 1s;transition:background 1s;width:100%;height:100%}

pre.prettyprint{text-align:left}
.vcenter{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-flex;display:flex;-webkit-flex-align:center;-ms-flex-align:center;-webkit-align-items:center}

.hcenter{justify-content:center;-ms-flex-pack:center;align-items:center;-ms-flex-align:center}
.alert-messages.floating{position:fixed;top:100px;width:50%;margin-left:25%;z-index:110}
.alert-error{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-message{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.profile-image{max-height:300px}
.height-300{height:300px;}
.img-overlay-container{position:relative;display:inline-block;margin-bottom:15px}
.img-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);color:#fff;padding:40%;opacity:0;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-ms-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;cursor:pointer}
.img-overlay .fa{padding-left:5px}
.img-overlay:hover{opacity:1;transform:none}
ul.polaroids a.polaroid:after{content:attr(data-polaroid-title)}
ul.polaroids a.polaroid{list-style:none;text-overflow:ellipsis;overflow:hidden;background:#fff;display:inline;float:left;margin:0 0 27px 30px;width:140px;padding:10px 7px 11px;text-align:center;font-family:'Permanent Marker',cursive;text-decoration:none;color:#333;font-size:14px;-webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);-moz-box-shadow:0 3px 6px rgba(0,0,0,.25);box-shadow:0 3px 6px rgba(0,0,0,.25);-webkit-transition:-webkit-transform .15s linear;-moz-transition:-moz-transform .15s linear;-ms-transition:-ms-transform .15s linear;-o-transition:-o-transform .15s linear;transition:transform .15s linear;-moz-transform:rotate(-2deg);-webkit-transform:rotate(-2deg);-ms-transform:rotate(-2deg);-o-transform:rotate(-2deg);transform:rotate(-2deg)}
ul.polaroids a.polaroid.polaroid-sm{width:120px}
ul.polaroids .polaroid-sm img{width:100px!important;height:100px}
ul.polaroids a.polaroid:hover{-webkit-transform:scale(1.25);-moz-transform:scale(1.25);position:relative;z-index:5}
ul.polaroids li:nth-child(even) a,ul.polaroids div:nth-child(even) li a,ul.polaroids li.even a{-webkit-transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);transform:rotate(2deg)}
ul.polaroids .polaroid li:nth-child(3n) a,ul.polaroids .polaroid div:nth-child(3n) li a{-webkit-transform:none;-moz-transform:none;-ms-transform:none;position:relative;top:-5px}
ul.polaroids .polaroid li:nth-child(5n) a,ul.polaroids .polaroid div:nth-child(5n) li a{-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);-ms-transform:rotate(5deg);-o-transform:rotate(5deg);transform:rotate(5deg);position:relative;right:5px}
ul.polaroids .polaroid li:nth-child(8n) a,ul.polaroids .polaroid div:nth-child(8n) li a{position:relative;top:8px;right:5px}
ul.polaroids .polaroid li:nth-child(11n) a,ul.polaroids .polaroid div:nth-child(11n) li a{position:relative;top:3px;left:-5px}
ul.polaroids .polaroid img{width:120px;max-width:120px;max-height:120px;margin-bottom:10px;border:1px solid #DDD}
img.grey-border{border:1px solid #DDD}
.img-circle .jcrop-holder div{-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}
.jcrop-keymgr{display:none!important}
.jcrop-holder{display:block;margin-right:auto;margin-left:auto}
.loading-overlay{position:fixed;top:0;left:0;background:rgba(0,0,0,0.6);z-index:105;width:100%;height:100%;display:none}
.loading-text{color:#fff;text-align:center;font-size:2em;height:100%}
.pattern-brushed{background-image:url(../img/patterns/brushed.png)}
.pattern-classy-fabric{background-image:url(../img/patterns/classy_fabric.png)}
.pattern-white-wall{background-image:url(../img/patterns/white_wall_hash.png)}
.shadow.shadow-inline{display:inline-block;position:relative}
.shadow{display:block;position:relative}
.shadow img{display:block}
.img-circle.shadow-circle:hover::before{border:1px solid #ECEDED;-moz-box-shadow:inset -3px 3px 10px 1px rgba(255,255,255,.5);-webkit-box-shadow:inset -3px 3px 10px 1px rgba(255,255,255,.5);box-shadow:inset -3px 3px 10px 1px rgba(255,255,255,.5)}
.shadow::before{display:block;content:'';position:absolute;width:100%;height:100%;-moz-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2)}
.shadow-circle{border:1px solid #ECEDED;border-radius:50%}
.shadow-circle::before{border-radius:50%}
.nav-stacked.inset-shadow{-moz-box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.1);border:1px solid rgba(145,145,145,0.5)}
.inset-shadow{-moz-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);border:1px solid rgba(223,223,223,0.5)}
.inset-shadow-white{-moz-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);border:1px solid rgba(255,255,255,1)}
.inset-shadow-top{-moz-box-shadow:inset 0 2px 3px -3px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 2px 3px -3px rgba(0,0,0,0.2);box-shadow:inset 0 2px 3px -3px rgba(0,0,0,0.2);border-top:1px solid rgba(223,223,223,0.5)}
.inset-shadow-bottom{-moz-box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);box-shadow:inset 0 -3px 5px -3px rgba(0,0,0,0.2);border-bottom:1px solid rgba(223,223,223,0.5)}
.div .text-shadow{color:#777;background-color:#bababa;text-shadow:#e0e0e0 1px 1px 0}
::-moz-selection{background:#5af;color:#fff;text-shadow:none}
::selection{background:#5af;color:#fff;text-shadow:none}
.box-shadow-white-bottom{box-shadow:0 0 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);z-index:1;border:1px solid rgba(255,255,255,1)}
.box-shadow-grey-bottom{box-shadow:2px 4px 4px -4px rgba(0,0,0,.4);-webkit-box-shadow:2px 4px 4px -4px rgba(0,0,0,.4);-moz-box-shadow:2px 4px 4px -4px rgba(0,0,0,.4);z-index:2;border-bottom:1px solid rgba(250,250,250,0.7)}
.box-shadow-grey-top{box-shadow:0 -3px 4px -4px rgba(0,0,0,.4);-webkit-box-shadow:0 -3px 4px -4px rgba(0,0,0,.4);-moz-box-shadow:0 -3px 4px -4px rgba(0,0,0,.4);z-index:2;border-top:1px solid rgba(250,250,250,0.7)}
.box-shadow-grey{box-shadow:0 0 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);-moz-box-shadow:0 0 3px rgba(0,0,0,.2);z-index:2;border:1px solid rgba(250,250,250,0.7)}
.border-radius-sm{border-radius:6px}
.meter{height:100%;width:50px;position:relative;background:#fff;-moz-border-radius-topright:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;border-top-right-radius:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;padding:3px;align-items:flex-end;-ms-flex-pack:end;display:flex;display:-moz-flex;display:-ms-flex;display: -ms-flexbox;display:-o-flex;display:-webkit-flex;display:flex;justify-content:flex-end;-ms-flex-pack: end}
.progress-bar{background-color:#2bc253}
.meter > span{display:block;width:100%;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomleft:10px;border-top-left-radius:10px;border-bottom-left-radius:10px;background-color:#2bc253;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#2bc253),color-stop(1,#54f054));background-image:-moz-linear-gradient(center bottom,#2bc253 37%,#54f054 69%);-webkit-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);position:relative}
.meter > span:after,.animate > span > span{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(.25,rgba(255,255,255,.2)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.2)),color-stop(.75,rgba(255,255,255,.2)),color-stop(.75,transparent),to(transparent));background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);z-index:1;-webkit-background-size:50px 50px;-moz-background-size:50px 50px;background-size:50px 50px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomleft:10px;border-top-left-radius:10px;border-bottom-left-radius:10px;overflow:hidden}
.same-height-parent{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 0;display:-webkit-flex;display:-ms-flexbox;display:flex;overflow:hidden}
.same-height-child{-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 0 0;overflow:auto}
thead{background:rgba(0,0,0,0.15)}
.table-striped>tbody>tr:nth-of-type(even){background-color:rgba(0,0,0,0.05)}
.table-striped>tbody>tr:nth-of-type(odd){background-color:rgba(255,255,255,1)}
.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:5px 15px}
.well{transition:color 1s, box-shadow 1s;-webkit-transition:color 1s, box-shadow 1s;-moz-transition:color 1s, box-shadow 1s;-ms-transition:color 1s, box-shadow 1s;-o-transition:color 1s, box-shadow 1s;text-align:center;background-color: #fff;color:#777;z-index:1;padding: 40px 40px 40px 40px;text-shadow: #efefef .5px .5px 0;border-radius: 7px;-moz-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.2);border:1px solid #fff}
.well:hover {box-shadow: inset 0 0px 3px 1px rgba(200,0,0,0.8);color:#BA0000}
.well .btn-dash{position:absolute;bottom:40px;right:40px}
.CodeMirror{width:100%!important;height:100%!important;font-size:12px;padding-top:35px}
#code-btns{background-color:#F7F7F7;padding-left:30px;border-bottom:1px solid #DDD;position:fixed;width:100%;z-index:5}
.btn-code{border-radius:0;border-left:1px solid #DDD;border-right:1px solid #DDD;background-color:rgba(255,255,255,0.5);color:#BA0000;transition:background-color .25s;-webkit-transition:background-color .25s;-moz-transition:background-color .25s;-ms-transition:background-color .25s;-o-transition:background-color .25s}
.btn-code:hover,.btn-code:focus{background-color:rgba(0,0,0,0.05)}
.web-badge{max-height:100px;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;-ms-transition:.5s ease-in-out;transition:.5s ease-in-out}
.web-badge:hover{-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);filter:grayscale(0%)}
record p,.chart p{margin:0}
record{border-bottom:1px solid #EFEFEF;display:block;padding: 20px 0px}
#search_results{border-top: 1px solid #EFEFEF;margin-top:10px}
.glyphicon.spinning{animation:spin 1s infinite linear;-webkit-animation:spin2 1s infinite linear}
.control-label{text-overflow:ellipsis;overflow-x:auto;}
.placeholderjs{color:#666;}
@keyframes spin {
from{transform:scale(1) rotate(0deg)}
to{transform:scale(1) rotate(360deg)}
}
@-webkit-keyframes spin2 {
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
img#navbar-logo {height: 90%;}
.legend li span{display:block;width:14px;height:14px;border-radius:7px;float:left;margin-top:4px;margin-right:8px}
.legend{list-style:none;margin:0;padding:0;font-size:14px;margin-top:20px}
.legend li{margin-bottom:4px}
.legend li:first-letter{text-transform:capitalize}
.pagination-centered {width: 100%;text-align:center;align-items:center;justify-content:center;-ms-flex-pack:center;-ms-flex-align:center;}
.pagination li {display: inline;padding-left: 5px;padding-right: 5px;}
.modal-dialog {margin: 100px auto;}
@media (max-width: 767px) {
.navbar .container{width:auto!important}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{background-color:#D00000}
.navbar.opaque .nav > li.active > a{color:#fff}
.navbar .nav > li > a{color:#404040}
.navbar-fixed-top{padding-top:10px;padding-bottom:10px;background-color:rgba(255,255,255,1);border-bottom:2px solid #eee}
.navbar-inner{padding-left:15px!important;padding-right:15px!important}
.banner .featured{display:none}
.app.box .image{float:left}
.app.box h3,.app.box p{margin-left:220px}
body > footer{margin-left:-20px;margin-right:-20px;text-align:center}
body > footer .container{padding-left:20px;padding-right:20px}
.bs-docs-sidenav{width:auto;margin-bottom:20px}
.bs-docs-sidenav.affix li:first-child{padding-top:20px}
.affix{position:relative}
.xs-center{display:block;margin-right:auto;margin-left:auto;text-align:center}
#cookies_warning{padding:2px 10px}
.alert-messages{width:90%;margin-left:5%}
.splash-overlay{background:rgba(0,0,0,0)}
.splash{margin-top:60px;min-height:200px;max-height:200px}
.splash h1{display:none}
.splash .btn-circle{display:none}
.text-center-xs{text-align:center}
}
@media (min-width: 768px) {
.form-horizontal .control-label{padding-top:13px}
.flickr-thumbnails h4, .flickr-thumbnails .h4{text-overflow:ellipsis;}
body{font-size:16px}
.sticky-footer-col{height:100px;padding-top:0}
.img-dialog{width:500px}
.img-circle.shadow-circle{border:none;}
.pull-right-sm{float:right}
.vcenter-sm{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-align:center;-ms-flex-align:center;-webkit-align-items:center}
.pull-right-sm{float:right}
.splash-overlay{background:rgba(0,0,0,.5)}
.lead{font-size:1.2em;font-weight:200}
}
@media (min-width: 768px) and (max-width: 991px) {
.bs-docs-sidenav{width:166px;margin-top:0}
.big-modal{width:600px;margin-left:-300px;margin-top:-60%}
.well h3, .well .h3{font-size: 1em}
.splash{min-height:550px;max-height:650px}
}
@media (max-width: 991px) {
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {padding: 5px 15px 5px 25px;}
.navbar-nav .open .dropdown-menu {position: static;float: none;width: auto;margin-top: 0;background-color: transparent;border: 0;-webkit-box-shadow: none;box-shadow: none;}
.navbar-header{float:none}
.navbar-toggle{display:block}
.navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
.navbar-collapse.collapse{display:none!important}.navbar-nav{float:none!important;margin: 0px -15px}
.navbar-nav>li{float:none}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px}
.navbar-text{float:none;margin:15px 0}
.navbar-collapse.collapse.in{display:block!important}
.collapsing{overflow:hidden!important}
.big-modal{width:800px;margin-left:-400px;margin-top:-60%}
.navbar-nav>li{padding:0 10px}
body{padding-top:0}
.navbar .container{width:auto!important;}
.navbar .brand{padding:0}
.navbar .brand img{max-height:20px}
.navbar .nav > li > a{margin-top:5px;margin-bottom:0}
.banner{padding:0;margin-left:0}
.banner .featured{border-left:solid 4px #FFF;height:354px}
.banner .featured li{width:118px;height:118px;background-size:112px 112px}
.banner .featured li a img{width:112px}
.banner .featured li a:hover{width:130px}
.banner .featured li a:hover img{width:118px}
text-center-sm{text-align:center}
}
@media (min-width: 992px) {
#btn-group-cookies{padding-left:10px;display:inline-block}
.pull-right-md{float:right}
.modal-dialog {width:800px;}
.vcenter-md{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-align:center;-ms-flex-align:center;-webkit-align-items:center}
}
@media (min-width: 1200px) {
.bs-docs-sidenav{width:220px}
.big-modal{width:1000px;margin-left:-500px}
}