{% import "account/_helpers.html" as helper %}

{% macro render_admin_user(user) %}
<tr>
    <td>{{user.fullname}}</td>
    <td>{{user.name}}</td>
    <td><span class="format-date" data-date="{{user.created}}"></span></td>
    {% if user.admin %}
        <td><a href="{{url_for('admin.del_admin', user_id=user.id)}}" class="btn btn-inverse">
            <i class="glyphicon glyphicon-remove"></i>
            {{ _(' Remove from admin group') }}</a></td>
        {% else %}
        <td><a href="{{url_for('admin.add_admin', user_id=user.id)}}" class="btn btn-inverse">
            <i class="glyphicon glyphicon-plus"></i>
            {{ _(' Add to admin group') }}</a></td>
        {% endif %}
</tr>
{% endmacro %}

{% macro render_local_nav(current_user, active_link, active_app) %}
{{app}}
<ul data-spy="affix" data-offset-top="200px" class="nav nav-list bs-docs-sidenav affix-top">
{% if current_user.admin %}
<li class="nav-link">
    <a href="#" id="admin-options">Admin Options<i class="fa fa-angle-down pull-right"></i></a>
    <ul class="nav nav-stacked inset-shadow remove-padding-top" id="admin-menu" hidden>
        <li class="nav-link"><a href="{{url_for('admin.index')}}">Dashboard</a></li>
        <li class="nav-link"><a href="{{url_for('admin.featured')}}">Featured</a></li>
        <li class="nav-link"><a href="{{url_for('admin.categories')}}">Categories</a></li>
        <li class="nav-link"><a href="{{url_for('admin.users')}}">Administrators</a></li>
        <li class="nav-link"><a href="{{url_for('admin.export_users', format='csv')}}">Export Users</a></li>
        <li class="nav-link"><a href="{{url_for('rq_dashboard.overview')}}">Background Jobs</a></li>
    </ul>
</li>
{% endif %}
    {% if current_user.admin %}
    <li class="nav-link">
        <a href="#" id="project-options">Project Options<i class="fa fa-angle-down pull-right"></i></a>
        <ul class="nav nav-stacked inset-shadow remove-padding-top" id="project-menu" hidden>
            <li class="nav-link"><a href="{{url_for('app.new')}}">New</a></li>
            <li class="nav-link"><a href="{{ url_for('account.applications', name=current_user.name) }}">Open</a></li>
            {% if active_app %}
                <li class="divider"></li>
                <li class="nav-link"><a href="{{url_for('app.tasks', short_name=active_app)}}">{{_('Dashboard')}}</a></li>
                <li class="nav-link"><a href="{{url_for('app.task_presenter_editor', short_name=active_app)}}">{{_('Code Editor')}}</a></li>
                <li class="nav-link"><a href="{{url_for('app.update', short_name=active_app)}}"> {{_('Project Details')}}</a></li>
                <li class="nav-link"><a href="{{url_for('app.auditlog', short_name=active_app)}}">{{_('Audit Logs')}}</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if active_app %}
        <li class="nav-link{% if active_link=="info"%} active{% endif %}"><a href="{{url_for('app.details', short_name=active_app)}}">{{_('Info')}}</a></li>
        <li class="nav-link{% if active_link=="contribute"%} active{% endif %}"><a href="{{url_for('app.presenter', short_name=active_app)}}"> {{_('Contribute')}}</a></li>
        <li class="nav-link{% if active_link=="statistics"%} active{% endif %}"><a href="{{url_for('app.show_stats', short_name=active_app)}}"> {{_('Statistics')}}</a></li>
    {% endif %}
</ul>
{% endmacro %}
