{% extends "base.html" %}
{% set active_page = "analytics" %}
{% from "admin/_helpers.html" import render_local_nav %}
{% block content %}
{{ render_local_nav(current_user, "tasks") }}
<div class="container-padded">
    <div class="container container-padded">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="third widget doughnut">
                    <h3>Breakdown of Hours</h3>
                    <div class="canvas-container">
                        <canvas id="users"></canvas>
                    </div>
                </div>
                <div class="third widget line">
                    <div class="chart-legend">
                        <h3>Tasks Completed per Day</h3>
                    </div>
                    <div class="canvas-container">
                        <canvas id="shipments"></canvas>
                    </div>
                </div>
                <div class="third widget">
                    <div class="chart-legend">
                        <h3>Customer Service Assessment</h3>
                    </div>
                    <div class="canvas-container">
                        <canvas id="departments"></canvas>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/vendor/Chart.js-master/Chart.min.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/moment.js')}}"></script>
<script>
$(function(){
// set up the timeout variable
var t;
// setup the sizing function,
// with an argument that tells the chart to animate or not
function size(animate){
    // If we are resizing, we don't want the charts drawing on every resize event.
    // This clears the timeout so that we only run the sizing function
    // when we are done resizing the window
    clearTimeout(t);
    // This will reset the timeout right after clearing it.
    t = setTimeout(function(){
        $("canvas").each(function(i,el){
            // Set the canvas element's height and width to it's parent's height and width.
            // The parent element is the div.canvas-container
            $(el).attr({
                "width":$(el).parent().width(),
                "height":$(el).parent().outerHeight()
            });
        });
        // kickoff the redraw function, which builds all of the charts.
        redraw(animate);

        // loop through the widgets and find the tallest one, and set all of them to that height.
        var m = 0;
        // we have to remove any inline height setting first so that we get the automatic height.
        $(".widget").height("");
        $(".widget").each(function(i,el){ m = Math.max(m,$(el).height()); });
        $(".widget").height(m);

    }, 100); // the timeout should run after 100 milliseconds
}
    $(window).on('resize', size);
    function redraw(animation){
        var options = {};
        if (!animation){
            options.animation = false;
        } else {
            options.animation = true;
        }
        
        var userData = {{users|safe}};
        var data = [
        {
            value: userData['values'][0]['value'],
            color:"#637b85"
        },
        {
            value : userData['values'][1]['value'],
            color : "#2c9c69"
        }
    ];
    var canvas = document.getElementById("users");
    var ctx = canvas.getContext("2d");
    new Chart(ctx).Doughnut(data);

}
size();
    });
</script>
{% endblock %}