{% extends "base.html" %}
{% set active_page = "oclcsearch" %}
{% from "admin/_helpers.html" import render_local_nav %}
{% block content %}
{{ render_local_nav(current_user, "catalogue") }}
<div class="container-padded hidden-container" style="display:none;">
    <div class="container container-padded">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 text-center-xs">
                {% include "_flash_messages.html" %}
                <div class="row vcenter-sm">
                    <div class="col-sm-10 col-xs-12 vcenter-sm">
                        <h1>Z39.50 Help</h1>
                    </div>
                </div>
                <hr>
                <p>This page provides a brief description of how to use the API functions for querying 
                Z39.50 databases. Currently two databases are available, the British Library's and
                OCLC WorldCat. Please use the OCLC database sparingly, as access is not necessarily
                unlimited. The British Library web service can safely be consumed in whatever way you
                see fit. To complement this help document queries can also be tested via the forms
                provided for both the <a href="{{url_for('z3950.search', z3950_catalogue="bl")}}">British Library</a>
                and the <a href="{{url_for('z3950.search', z3950_catalogue="oclc")}}">OCLC</a>.</p>

                <h2 class="padding-top-sm">Access</h2>
                
                <p>The Z39.50 API functions can be consumed by any user registered at {{brand}}.
                The reason for not restricting access to administrators only use is that the functions
                are used within those {{brand}} projects where a user needs to search the catalogue.
                In fact, this was their initial purpose. However, this feature should not be advertised and
                queries per user are being monitored.</p>

                <p>Authorization is therefore either by the user being logged in to the website,
                or by providing an API key via the api_key parameter. Your personal API key is available on your
                <a href="{{ url_for('account.profile', name=current_user.name) }}">profile page</a> and provided below
                for ease of reference.</p>
                
                <p><strong>{{api_key}}</strong></p>

                <h2  class="padding-top-sm">Functions</h2>
                <p>There are currently two Z39.50 end points:</p>
                <ul style="margin-left:20px;list-style:disc;">
                    <li>
                        <p>http://www.{{brand}}.com/api/z3950/bl/count</p>
                
                        <p>Returns the number of results for that query. Note that the British Library's Z39.50 service returns a maximum count of 5000.</p>
                        <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/count?query=(1,7)=&quot;9781405333351&quot;" target="_blank">http://www.{{brand}}.com/api/z3950/bl/count?query=(1,7)="9781405333351"</a></p>
                    </li>
                    <li>
                        
                        <p>http://www.{{brand}}.com/api/z3950/bl/search</p>
                        
                        <p>Returns the metadata retrieved for that query.</p>
                        
                        <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)=&quot;1853260045&quot;" target="_blank">http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)="1853260045"</a></p>
                    </li>
                </ul>
                <h2  class="padding-top-sm">Queries</h2>
                <p>The syntax for queries is based on a variation of CCL. The syntax is rather unforgiving,
                queries must be formed correctly otherwise error messages are likely to be returned. The
                basic format of a query is:</p>
                
                <p>(<i>attribute, value</i>)="<i>query</i>"</p><br />
                
                <p>Multiple attributes can be joined together using a comma:</p>
                
                <p>(<i>attribute, value</i>),(<i>attribute, value</i>)="<i>query</i>"</p><br />
                
                <p>Multiple fields can be searched by using logical operators:</p>
                
                <p>(<i>attribute, value</i>),(<i>attribute, value</i>)="<i>query</i>"and(<i>attribute, value</i>),(<i>attribute, value</i>)="<i>query</i>"</p><br />
                
                <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/search?query=(1,1016),(4,6)=&quot;Or.Mic&quot;and(1,4)=&quot;Zhong&quot;" target="_blank">http://www.{{brand}}.com/api/z3950/bl/search?query=(1,1016),(4,6)="Or.Mic"and(1,4)="Zhong"</a></p><br />
                
                <p>The attributes available for the different Z39.50 services are as follows:</p>
                <ul style="margin-left:20px;list-style:disc;">
                    <li><a href="http://www.bl.uk/bibliographic/z3950configuration.html" target="_blank">British Library</a></li>
                    <li><a href="https://www.oclc.org/support/services/z3950/documentation/searchtips.en.html" target="_blank">OCLC</a></li>
                </ul>
                
                <h2  class="padding-top-sm">Format</h2>
                <p>Metadata can be returned in MARCXML, JSON, HTML or Excel formats. The required format can be specified
                by adding the format parameter to the request.</p>
                
                <ul style="margin-left:20px;list-style:disc;">
                    <li>If no format is specified then MARCXML is returned by default.</li>
                    <li>The HTML format is intended primarily for use within {{brand}}  projects and is probably of
                    little use otherwise.</li>
                    <li>Only a subset MARC data is currently transformed into the Excel XML format, there is scope to
                    update this as necessary in future.</li>
                </ul>
                
                <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)=&quot;1853260045&quot;&format=JSON" target="_blank">http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)="1853260045"&format=JSON</a></p>
                
                <h2  class="padding-top-sm">Start Position</h2>
                <p>The position of the first record returned can be specified via the startPos parameter.
                If this parameter is not provided then starting position will be the first record by default.</p>
                
                <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)=&quot;1853260045&quot;&startPos=2" target="_blank">http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)="1853260045"&startPos=2</a></p>
                
                <h2  class="padding-top-sm">Maximum Records</h2>
                <p>The maximum number of records returned can be specified via the maxRecords parameter. If this parameter is not
                provided then a maximum of ten records will be returned by default.</p>
                
                <p><i class="fa fa-cogs"></i> <a href="http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)=&quot;1853260045&quot;&maxRecords=1" target="_blank">http://www.{{brand}}.com/api/z3950/bl/search?query=(1,7)="1853260045"&maxRecords=1</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}