{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "dashboard" %}
{% from "admin/_helpers.html" import render_admin_local_nav %}

{% block content %}
<span class="set-body-bg" data-bg="pattern-white-wall"></span>
{{ render_admin_local_nav(current_user, active_link) }}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            <h1><strong>Admin Options</strong></h1>
            <div id="projects" class="col-sm-6 col-md-4">
                <a href="{{ url_for('account.projects', name=current_user.name) }}" rel="nofollow">
                <div class="well well-link">
                    <i class="fa fa-folder-open fa-4x"></i>
                    <h3  class="margin-bottom-xs">Projects</h3>
                </div>
                </a>
            </div>

            <div id="featured-projects" class="col-sm-6 col-md-4">
                <a href="{{url_for('admin.featured')}}" rel="nofollow">
                <div class="well well-link">
                    <i class="fa fa-star fa-4x"></i>
                    <h3  class="margin-bottom-xs">Featured</h3>
                </div>
                </a>
            </div>

            <div id="categories" class="col-sm-6 col-md-4">
                <a href="{{url_for('admin.categories')}}" rel="nofollow">
                <div class="well well-link">
                    <i class="fa fa-check fa-4x"></i>
                    <h3  class="margin-bottom-xs">Categories</h3>
                </div>
                </a>
            </div>

            <div id="users" class="col-sm-6 col-md-4">
                <a href="{{url_for('admin.users')}}" rel="nofollow">
                <div class="well well-link">
                    <i class="fa fa-user fa-4x"></i>
                    <h3  class="margin-bottom-xs">Administrators</h3>
                </div>
                </a>
            </div>

            <div id="users-list" class="col-sm-6 col-md-4">
                <a href="{{url_for('admin.export_users', format='csv')}}" rel="nofollow">
                    <div class="well well-link">
                        <i class="fa fa-list fa-4x"></i>
                        <h3  class="margin-bottom-xs">Export Users</h3>
                    </div>
                </a>
            </div>

            <div id="dashboard" class="col-sm-6 col-md-4">
                <a href="{{url_for('rq_dashboard.overview')}}" rel="nofollow">
                <div class="well well-link">
                    <i class="fa fa-dashboard fa-4x"></i>
                    <h3  class="margin-bottom-xs">Background Jobs</h3>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
