{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "featured" %}
{% from "admin/_helpers.html" import render_admin_local_nav %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{{ render_admin_local_nav(current_user, active_link) }}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            <h1><strong>Admin :</strong> Featured projects</h1>
            {% include "admin/js/featured_projects.js" %}
            <ul class="nav nav-pills nav-pills-dark">
                {% for c in categories %}
                <li {% if loop.first %}class="active"{% endif %}>
                    <a href="#category_{{c.id}}" data-toggle="pill">{{c.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for c in categories %}
                <div {% if loop.first %}class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="category_{{c.id}}">
                     <table class="table table-stripped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th style="text-align:center;">Featured</th>
                            </tr>
                        </thead>
                        {% for project in projects[c.short_name] %}
                            {{ helper.render_project_admin_featured(project, upload_method) }}
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{ helper.broken_image() }}
{% endblock %}
