{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ helper.render_project_local_nav(project, 'flickrimporter', current_user, pro_features, staff_or_admin) }}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            {{ helper.render_project_title(project, subtitle="Import tasks") }}
            {{ helper.render_loading(loading_text) }}
            <div class="row vcenter hcenter">
                <div class="col-xs-8">
                    <h3>From Flickr</h3>
                </div>
                <div class="col-xs-4">
                    <div id="revoke" style="display:none;">
                        <a href="{{ url_for('flickr.logout', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-warning pull-right">Revoke access</a>
                    </div>
                </div>
            </div>

            <div id="connecting">
                <p>Attempting to connect to Flickr, please wait...</p>
            </div>

            <div id="grant" style="display:none;">
                <p>To select an album click below to grant access to your Flickr account</p></br>

                <p>
                    <a href="{{ url_for('flickr.login', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-success">Log in to Flickr</a>
                </p>

            </div>

            <div id="albums-container" style="display:none;">
                <h3>Select an album to import:</h3>
                <ul id="albums" class="no-style">
                </ul>
            </div>

            <br>
            {% if form %}
            <form id="import-form" role="form" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
                <fieldset>
                    {{ form.hidden_tag() }}
                    <span class="help-block">Alternatively, you can manually provide the ID of a Flickr album</span>
                    {{ render_field(form.album_id, class_="input-block-level form-control", placeholder="The ID of the Flickr album", required="required") }}
                    <div class="pull-right" role="group">
                        <a href="{{url_for('project.import_task', short_name=project.short_name)}}" class="btn btn-default">Cancel</a>
                        <input id="import" type="submit" value="Import" class="btn btn-danger" />
                    </div>
                 </fieldset>
             </form>
             {% endif %}
        </div>
    </div>
</div>
<script>
    $("#import-form").on('submit', function(){
        $("#loading").show();
    });

    $(function() {
        $.get('/flickr/albums').done(function(albums) {
            $('#connecting').hide();
            if (albums.hasOwnProperty('length') && albums.length > 0) {
                $('#albums-container').show();
                $('#revoke').show();
                albums.forEach(function(album){
                    var albumElement = $('<li><a href="#" class="btn-album" '
                                         + 'id=' + album.id + '>'
                                         + '<strong>' + album.title + ':</strong></a> '
                                         + album.photos + ' photos</li>');
                    $('#albums').append(albumElement);
                });
            } else {
                $('#grant').show();
            }
        });
    });

    $(document).on('click', '.btn-album', function(evt) {
        evt.preventDefault();
        $('#album_id').val($(this).attr('id'));
        $('#albums-container').hide();
        $("#import-form").submit();
    });
</script>
{% endblock %}
