{% macro render_blog_post(current_user, blogpost, form) %}
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        {% if blogpost %}
            <hr>
            <article class="blogpost">
                <header>
                    <a href="{{ url_for('blog.show_blogpost', id=blogpost.id) }}"><h2>{{ blogpost.title }}</h2></a>
                    <p>
                        <small>
                            <i class="fa fa-clock-o"></i> {{blogpost.created[8:10]}}-{{blogpost.created[5:7]}}-{{blogpost.created[0:4]}}</span>
                            <i class="fa fa-user padding-left-xs"></i>
                            <a href="{{ url_for('account.profile', name=blogpost.owner.name) }}">{{ blogpost.owner.name }}</a>
                        </small>
                    </p>
                </header>
                
                <div class="row">
                    <div class="col-xs-12 col-md-8 padding-bottom-xs">
                        <a href="#" data-content="Share on Facebook" class="btn-popover btn btn-facebook"
                           onclick="popUp=window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}',
                                                   'popupwindow', 'scrollbars=yes,width=510,height=620');popUp.focus();return false"
                                                   data-url="http://www.libcrowds.com/blog/{{blogpost.id}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}
                        &text={{blogpost.title}}&tw_p=tweetbutton&url=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}"
                                data-content="Share on Twitter" class="btn-popover btn btn-twitter"
                                data-url="http://www.libcrowds.com/blog/{{blogpost.id}}">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" data-content="Share on Google+" class="btn-popover btn btn-googleplus"
                        onclick="popUp=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}',
                                                   'popupwindow', 'scrollbars=yes,width=510,height=725');popUp.focus();return false"
                                                   data-url="http://www.libcrowds.com/blog/{{blogpost.id}}">
                            <i class="fa fa-google"></i>
                        </a>
                        <a href="#" data-content="Share on Tumblr" class="btn-popover btn btn-tumblr"
                        onclick="popUp=window.open('http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}',
                                                   'popupwindow', 'scrollbars=yes,width=510,height=430');popUp.focus();return false"
                                                   data-url="http://www.libcrowds.com/blog/{{blogpost.id}}">
                            <i class="fa fa-tumblr"></i>
                        </a>
                        <a href="#" data-content="Share on LinkedIn" class="btn-popover btn btn-linkedin"
                        onclick="popUp=window.open('https://www.linkedin.com/cws/share?url=http%3A%2F%2Fwww.libcrowds.com%2Fblog%2F{{blogpost.id}}',
                                                   'popupwindow', 'scrollbars=yes,width=510,height=520');popUp.focus();return false"
                                                   data-url="http://www.libcrowds.com/blog/{{blogpost.id}}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                    {% if current_user.admin %}
                        <div class="col-xs-12 col-md-4">
                            <form class="form-horizontal" method="post" action="{{ url_for('blog.delete_blogpost', id=blogpost.id) }}"
                                  onsubmit="return confirm('Do you really want to delete the blog post?');">
                                {{ form.hidden_tag() }}
                                <div role="group" class="pull-right-md">
                                    <input type="submit" value=Delete class="btn btn-default" />
                                    <a href="{{url_for('blog.update_blogpost', id=blogpost.id)}}" class="btn btn-danger">Edit</a>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <body>
                    <p>{{ blogpost.body | e | markdown }}</p>
                </body>
            </article>
            <hr>
        {% else %}
        <div class="page-header padding-top container">
            <h1>Sorry! This blogpost does not exist.</h1>
        </div>
    {% endif %}
    </div>
{% endmacro %}

{% macro render_blog_menu(current_user, months) %}
    <div id="blog-menu-container">
        <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-2 blog-menu">
            <p class="blog-menu-title inset-text-grey">Archive</p>
            <div class="blog-menu-body">
                {% for month in months %}
                <p><a href="{{url_for('blog.monthly', month=month)}}">{{month}}</a></p>
                {% endfor %}
            </div>
        </div>
        {% if not current_user.subscribed %}
            <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-2 blog-menu">
                <p class="blog-menu-title inset-text-grey">Newsletter</p>
                <div class="blog-menu-body">
                    <p>Sign up here to receive the latest LibCrowds news direct to your inbox.</p>
                    <p><small>Your email address will be used responsibly, promise.</small></p>
                    <div class="text-center padding-top-xs padding-bottom-xs"> 
                    <a id="signmeup" class="btn btn-danger"
			    href="{{url_for('account.newsletter_subscribe', subscribe=True,
			    next=blog)}}">sign me up</a>
                    </div>
                </div>
            </div>
        {% endif %}
        
        {% if current_user.admin %}
        <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-2 text-center padding-top-xs blog-menu">
            <a href="{{ url_for('blog.new')}}" class="btn btn-danger">New Post</a>
        </div>
        {% endif %}
    </div>
{% endmacro %}