{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
    <div class="container-padded">
        <div class="container container-padded">
            {% include "_flash_messages.html" %}
            <div class="col-md-12">
                <h1>Unauthorized</h1>
                <p class="lead">You are not authorized to access the URL requested.</p>
                <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-inverse"> 
                    <i class="glyphicon glyphicon-home"></i> Go Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}
