<div class="container">
    <div class="row center">
        <div class="col-sm-3 col-xs-12 vcenter hcenter sticky-footer-col">
            <a href="http://bl.uk/" class="hidden-xs ie-vcenter">
                <img class="img-responsive center-block" src="{{url_for('static', filename='img/bl-logo.png')}}">
            </a>
        </div>
        
        <div class="col-sm-6 vcenter hcenter sticky-footer-col">
        {% if not enforce_privacy %}
      
            <div class="row ie-vcenter">
                <div id="footer_links">
                    <ul>
                        <li>
                            <a href="mailto:{{contact_email}}"><i class="fa fa-envelope padding-sides-xs"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/{{contact_twitter}}"><i class="fa fa-twitter padding-sides-xs"></i></a>
                        </li>
                        <li>
                            <a href="/about"><i class="fa fa-info-circle padding-sides-xs"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        </div>
        
        <div class="col-sm-3 vcenter hcenter sticky-footer-col hidden-xs">
            <a href="http://pybossa.com/" class="ie-vcenter">
                <img class="img-responsive center-block" src="{{url_for('static', filename='img/pybossa.png')}}">
            </a>
        </div>
    </div>
</div>