<!doctype html>
<html lang="en" data-placeholder-focus="false">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ title | safe}} | {{ brand }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Alexander Mendes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    {% if active_page == 'profile' or activate_page == 'account' %}
      <meta name="robots" content="noindex,nofollow">
    {% endif %}
      
    <link href="https://google.com/+LibcrowdsBL" rel="publisher">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}?v=2.5.8">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400%7CPermanent+Marker">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome-4.3.0/css/font-awesome.min.css')}}">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
      <style>.ie-vcenter{position:relative;top:50%;transform:translateY(-50%);}</style>
    <![endif]-->
    <!--[if IE 9]>
      <style>
      .ie-vcenter{position:relative;top:50%;transform:translateY(-50%);}
      #image_container{margin-top:0px!important;}
      </style>
    <![endif]-->

    <link rel="shortcut icon" href="/static/img/favicon.png">

    {% if preload_js == "true" %}
      {% assets "js_top" %}
      <script type="text/javascript" src="{{ ASSET_URL }}?v=2.0.0"></script>
      {% endassets %}
    {% endif %}
    
    {% include '_ga.html' ignore missing %}
    {% include '_gcs.html' ignore missing %}
  </head>

  <body>
    <noscript>
      <div id="error" class="alert alert-danger js-alert">  
        <strong>Please enable JavaScript!</strong> This website will not work correctly with JavaScript disabled.
      </div>
    </noscript>
      {% include '_socialmedia.html' ignore missing %}
        <div id="body-content">
          <div id="main-body-content">
          {% if not current_user.is_anonymous() %}
          <!-- checkpoint::logged-in::{{current_user.name}} -->
          {% endif %}
          {% set active_page = active_page | default('index') -%}
          {% set has_splash = has_splash | default('false') -%}
          {% set preload_js = preload_js | default('false') -%}
          {% set active_project  = active_project | default('none') -%}
          {% include "_navbar.html" %}

            <div class="container-fluid">
          
              {% block content %}{% endblock %}

              {% if show_cookies_warning %}
              <div id="cookies_warning" class="container">
                <div class="col-md-12 text-center">
                  <span>Cookies help us deliver our services. By using our services, you agree to our use of cookies.<span id="btn-group-cookies" role="group"></span><button class="btn btn-xs btn-success" onclick="accept_cookies()"><i class="fa fa-thumbs-up"></i> OK</button></span>
                </div>
              </div>
            {% endif %}
            
            </div>
          </div>
          
        <footer id="sticky-footer">
          {% include ['custom/_footer.html', '_footer.html'] ignore missing %}
        </footer>
      </div>
        
      {% if current_user.is_authenticated() and not current_user.info.avatar%}
        <script>$.ajax('/api/user/set_default_avatar');</script>
      {% endif %}
      {% if not preload_js == "true" %}
        {% assets "js_top" %}
        <script type="text/javascript" src="{{ ASSET_URL }}?v=2.0.0"></script>
        {% endassets %}
      {% endif %}
      {% assets "js_bottom" %}
        <script type="text/javascript" src="{{ ASSET_URL }}?v=2.0.1"></script>
      {% endassets %}
  </body>
</html>