{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_link  = "settings" %}
{% import "applications/_helpers.html" as helper %}
{% from "admin/_helpers.html" import render_local_nav %}

{% block content %}
        {{ render_local_nav(current_user, 'info', "admin", app.short_name)}}
            <div class="container-padded">
                <div class="container container-padded">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <h1><strong>{{app.name}}</strong>: Delete all Tasks and Task Runs</h1>
                            <div class="alert alert-danger">
                                <strong>{{_('Warning!')}}</strong> {{_('If you delete the tasks and task runs they will be gone forever!')}}
                            </div>
                            <form role="form" method="post" action="{{ url_for('app.delete_tasks', short_name = app.short_name) }}">
                                <h3><strong>{{_('Are you sure you want to delete ALL of the project tasks and associated task runs?')}}</strong></h3>
                                <div class="pull-right" role="group">
                                    <button type="submit" name='btn' class="btn btn-default" value="Yes">{{_('Yes')}}</button>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <a href="{{ url_for('app.settings', short_name = app.short_name) }}"
                                    class="btn btn-danger">{{_('No, do not delete anything!')}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{{ helper.broken_image() }}
{% endblock %}
