<!-- Project completed DIV -->
<div id="completed-row" class="row" style="display:none;">
   <div class="col-xs-12 text-center padding-top">
       <h1>Success! This project has now been completed.</h1>
       <h2>Thank you for all of your contributions.</h2>
       <a href="/"><i class="fa fa-home fa-3x"></i></a>
   </div>
</div>

<!-- Start of Photo DIV (column) -->
<div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-6 col-md-push-6 text-center" id="photo-container">
   <div id="image_container" style="position: relative;">
      <a id="photo-link" href="#">
      <img id="photo" src="http://i.imgur.com/GeHxzb7.png" alt="Loading">
      </a>
   </div>
</div>

<!-- Start Skeleton Row-->
<div class="row skeleton" id="answer-container">
   <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-6">

      <!-- Success and Error Messages for the user -->
      <div id="alert-row">
         <div id="success" class="alert alert-success remove-margin-bottom" style="display:none;">
            <a class="close">x</a><span>Answer saved</span>
         </div>
         <div id="loading" class="alert alert-info remove-margin-bottom" style="display:none;">
            <a class="close">x</a>
            <span id="i18n_loading_next_task">Loading next task...</span>
         </div>
         <div id="taskcompleted" class="alert alert-info remove-margin-bottom" style="display:none;">
            <strong id="i18n_task_completed">The task has been completed!</strong> <span id="i18n_thanks">Thanks a lot!</span>
         </div>
         <div id="finish" class="alert alert-success remove-margin-bottom" style="display:none;">
            <strong id="i18n_congratulations">Congratulations!</strong> <span id="i18n_congratulations_text">You have participated in all available tasks!</span>
            <br/>
            <div class="alert-actions">
               <a class="btn btn-small" href="/">Go Home</a>
               <a class="btn btn-small" href="/project">or, Check other projects</a>
            </div>
         </div>
         <div id="error" class="alert alert-danger remove-margin-bottom" style="display:none;">
            <a class="close">x</a>
            <strong>Something went wrong! </strong> Please report this via the
            <a href="{{url_for('discourse.index')}}">LibCrowds Community</a>
           <br>
           <div id ="error-details"></div>
         </div>
         <div id="search_error" class="alert alert-info remove-margin-bottom" style="display:none;">
            <a class="close">x</a>
            <span class="fa fa-exclamation" aria-hidden="true"></span>
	    <span id ="search_error_text">No results returned.</span>
         </div>
      </div>

      <!-- Start of Question and Submission DIV (column) -->
      <div class="row vcenter-md hcenter">
         <div class="col-md-8 col-xs-12">
            <h1 id="question"><span id="i18n_question">What is this item?</span></h1>

	    <!-- The question will be loaded here -->
         </div>
         <div class="col-md-4 hidden-xs hidden-sm">
            <a href="#" class="btn btn-inverse pull-right" data-toggle="modal" data-target="#modal"><i class="fa fa-book"></i> Tutorial</a><br/>
            <a href="#comments" id="comments_btn" class="btn btn-inverse pull-right" data-toggle="collapse" aria-expanded="false" aria-controls="comments">
            <i class="fa fa-plus"></i> Comment</a>
         </div>
      </div>

      <!-- Start of answer DIV -->
      <div class="row">
         <div class="col-xs-12">
            <div class="collapse" id="comments">
               <textarea class="form-control margin-bottom-xs" rows="5" id="comments_field" placeholder="Comments"></textarea>
            </div>
         </div>
      </div>
      <div id="contribution">

         <!-- The search form -->
         <form id="oclc_search_form" role="form">
            <div class="form-group">
               <label class="sr-only" for="title_field">Title</label>
              <input type="text" id="title_field" class="form-control" placeholder="Title" pattern=".+{2,}|"/>
            </div>
            <div class="form-group">
	       <label class="sr-only" for="title_field">Author</label>
               <input type="text" id="author_field" class="form-control" placeholder="Author" />
            </div>
            <div class="form-group">
	       <label class="sr-only" for="title_field">Year</label>
               <input type="number" id="year_field" class="form-control" placeholder="Year"/>
            </div>
            <div class="form-group">
	       <label class="sr-only" for="title_field">ISBN</label>
               <input type="number" id="isbn_field" class="form-control" placeholder="ISBN"/>
            </div>
            <p id="results_count" class="pull-left padding-left-xs"></p>
            <div class="pull-right-md text-center" role="group">
               <a href="#" class="btn btn-default btn-answer hidden-xs hidden-sm" value="Skip / Not Found">Skip / Not Found</a>
               <button id="search_submit_btn" class="btn btn-danger" value="Search" >Search</button>
               <a href="#" class="btn btn-default btn-answer hidden-md hidden-lg" value="Skip / Not Found">Skip / Not Found</a>
            </div>
         </form>
         <div class="col-xs-12 text-center hidden-md hidden-lg">
            <a href="#" class="btn btn-inverse" data-toggle="modal" data-target="#modal"><i class="fa fa-book"></i> Tutorial</a>
            <a href="#comments" id="comments_btn" class="btn btn-inverse padding-left-xs" data-toggle="collapse" aria-expanded="false" aria-controls="comments">
            <i class="fa fa-plus"></i> Comment</a>
         </div>

         <!-- The selected record will be loaded here -->
         <div class="row">
            <div class="col-xs-12">
               <div id="selected_record" class="padding-top-xs"></div>
            </div>
         </div>

         <!-- Search results will be loaded here -->
         <div class="col-xs-12" id="search_results"></div>

         <!-- Shelf mark form -->
         <form id="shelfmark_form" role="form" style="display:none;">
            <div class="form-group">
               <label for="shelfmark_field" class="control-label">Shelf Mark:</label>
               <input type="text" id="shelfmark_field" class="form-control" placeholder="Enter shelf mark" required/>
            </div>
            <a href="#" class="btn btn-success btn-answer pull-right" value="Done"><i class="fa fa-thumbs-o-up"></i> Done</a>
         </form>

         <!-- Feedback items for the user -->
         <div class="padding-top-sm text-center">
            <p><span id="i18n_working_task">You are working now on task:</span> <span id="task-id" class="label label-default">#</span></p>
            <p>
               <span id="i18n_tasks_completed">You contributed to</span> <span id="done" class="label label-danger"></span> <span id="i18n_tasks_from">tasks from </span>

	       <!-- Progress bar for the user -->
               <span id="total" class="label label-danger"></span>
            </p>
            <div class="progress progress-striped">
               <div id="progress" rel="tooltip" title="#" class="progress-bar" style="width: 0%;"  role="progressbar"></div>
            </div>
         </div>
      </div>

      <!-- Social media buttons -->
      <div class="row text-center">
         <a href="#" data-content="Share on Facebook" class="btn-popover btn btn-facebook"
            onclick="popUp=window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.libcrowds.com%2Fblplugin%2F{{project.short_name}}',
            'popupwindow', 'scrollbars=yes,width=510,height=620');popUp.focus();return false"
	    data-url="http://www.libcrowds.com/blplugin/{{project.short_name}}">
         <i class="fa fa-facebook"></i>
         </a>
         <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.libcrowds.com%2Fblplugin%2F{{project.short_name}}
            &text={{project.description}}&tw_p=tweetbutton&url=http%3A%2F%2Fwww.libcrowds.com%2Fblplugin%2F{{project.short_name}}"
            data-content="Share on Twitter" class="btn-popover btn btn-twitter"
	    data-url="http://www.libcrowds.com/blplugin/{{project.short_name}}">
         <i class="fa fa-twitter"></i>
         </a>
         <a href="#" data-content="Share on Google+" class="btn-popover btn btn-googleplus"
            onclick="popUp=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.libcrowds.com%2Fblplugin%2F{{project.short_name}}',
            'popupwindow', 'scrollbars=yes,width=510,height=725');popUp.focus();return false"
	    data-url="http://www.libcrowds.com/blplugin/{{project.short_name}}">
         <i class="fa fa-google"></i>
         </a>
         <a href="#" data-content="Share on LinkedIn" class="btn-popover btn btn-linkedin"
            onclick="popUp=window.open('https://www.linkedin.com/cws/share?url=http%3A%2F%2Fwww.libcrowds.com%2Fblplugin%2F{{project.short_name}}',
            'popupwindow', 'scrollbars=yes,width=510,height=520');popUp.focus();return false"
	    data-url="http://www.libcrowds.com/blplugin/{{project.short_name}}">
         <i class="fa fa-linkedin"></i>
         </a>
      </div>
   </div>
</div>

<!-- Client IP stored here and submitted with the answer -->
<span id="client_ip" hidden></span>

<!-- Tutorial -->
<div id="modal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
           <h3 class="text-center">{{project.name}} tutorial</h3>
         </div>
         <div id="0" class="modal-body">
            <p>The purpose of this project is to link scanned images, such as the one below, to catalogue records held in
               an external database.
            </p>
            <div class="row text-center">
               <img src="/static/img/tutorials/card.jpg" width="200" class="img-thumbnail" alt="Chinese_PY_Titles_A-By1204" alt="Catalogue card"></a><br>
            </div>
            <br>
            <p>Your tasks comes in two parts:</p>
            <p>1.	Locate the catalogue record relating to the card displayed.<br>
               2.	Transcribe the shelf mark shown on the card.
            </p>
         </div>
         <div id="1" class="modal-body" style="display:none;">
            <p><strong>Step 1:</strong></p>
            <p>Next to the image of the card you will be provided with a set of search fields for the title, author,
               publication year and ISBN of the item. Once you have performed a search and retrieved some results, you
               can choose the appropriate record by clicking on the select button to the right of that record.
            </p>
            <p>If you are unable to locate the correct record, please click the 'Skip / Not found' button.</p>
            <div class="row text-center">
               <img src="/static/img/tutorials/card_buttons.png" width="200" class="img-thumbnail" alt="Chinese_PY_Titles_A-By1204"></a><br>
            </div>
         </div>
         <div id="2" class="modal-body" style="display:none;">
            <p><strong>Step 2:</strong></p>
            <p>If you managed to locate a matching record, the next stage is to transcribe the shelf mark,
               which is usually located at the top right of the image. Very occasionally the shelf mark will be in a different location but
               after you have completed a few tasks you should be able to recognise these shelf marks more easily.
            </p>
            <p>Please try to transcribe the shelf mark as accurately as possible, including maintaining the case
               and punctuation.
            </p>
            <p>That's it! Once you have have finished click 'Done' and you will be presented with the next task.</p>
         </div>
         <div class="modal-footer">
            <a id="prevBtn" href="#" onclick="showStep('prev')" class="btn btn-default">Previous</a>
            <a id="nextBtn" href="#" onclick="showStep('next')" class="btn btn-success">Next</a>
            <button id="startContrib" data-dismiss="modal" class="btn btn-primary" style="display:none"><i class="fa fa-thumbs-o-up"></i> Start</button>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {

    //Get client IP
    $.get('/api/user/get_ip', function(results) {
        $("#client_ip").html(results);
    });

    $("#image_container").draggable();

});

//Tutorial steps
var step = -1;
function showStep(action) {
    $("#" + step).hide();
    if (action == 'next') {
        step = step + 1;
    }
    if (action == 'prev') {
        step = step - 1;
    }
    if (step === 0) {
        $("#prevBtn").hide();
        $("#nextBtn").show();
        $("#startContrib").hide();
    } else {
        $("#prevBtn").show();
        $("#nextBtn").show();
        $("#startContrib").hide();
    }

    if (step == 2) {
        $("#nextBtn").hide();
        $("#startContrib").show();
    }
    $("#" + step).show();
}
showStep('next');


function loadUserProgress() {
    pybossa.userProgress('{{project.short_name}}').done(function(data) {
        var pct = Math.round((data.done * 100) / data.total);
        $("#progress").css("width", pct.toString() + "%");
        $("#progress").attr("title", pct.toString() + "% complete");
	$("#progress").attr("data-original-title", pct.toString() + "% complete");
        $("#progress").tooltip({
            'placement': 'bottom'
        });
        $("#total").text(data.total);
        $("#done").text(data.done);
    });
}


//Get and display the search results
$(document).delegate('#oclc_search_form', 'submit', function(e) {
    e.preventDefault();
    $(".alert").hide();
    $('#search_submit_btn').html('<span class="fa fa-refresh spinning"></span> Searching');
    $("#search_results").slideUp();
    $("#results_count").html('');
    $('#search_submit_btn').fadeTo(500, 0.3);
    title = $("#title_field").val().trim();
    if (title.length >= 2) {
      title += "?"
    } else {
      title = "";
    }
    author = $("#author_field").val().trim();
    if (author.length >= 2) {
      author += "?"
    } else {
      author = "";
    }
    year = $("#year_field").val().trim();
    isbn = $("#isbn_field").val().trim().replace(/-/g, "");
    libs = '"(DLC or CUY or ZCU or HMY or PULEA or YUL or CNEAL or CGU or COO or AMH or AUT or NSL or SLY or L2U or OCLCA or OCLCQ or OCLCF or OCLCO or BLSTP)"';
    searchQuery = '(1,1183)="eng"and(1,6119)=' + libs;
    searchQuery += 'and(1,4)="' + title + '"';
    searchQuery += 'and(1,1003)="' + author + '"';
    searchQuery += 'and(1,31)="' + year + '"';
    searchQuery += 'and(1,7)="' + isbn + '"';
    performSearch(searchQuery, 1);
});


function performSearch(searchQuery, page) {
    var startPos = (page - 1) * 5;
    var endPos = startPos + 5;

  $.ajax({
    type: "get",
    url: 'http://www.libcrowds.com/api/z3950/zcat.oclc.org/OLUCWorldcat/search',
    data: {query: searchQuery, format: 'HTML', start: startPos, jsonify: 'True'},
    success: function(results) {

      //Set result count
      count = String(results['count']);
      $("#search_results").attr("data-count", results['count']);
      if (count == 1) {
	  	$("#results_count").html('<small>' + humanise(count) + ' result</small>');
      } else {
	  	$("#results_count").html('<small>' + humanise(count) + ' results</small>');
      }

      //Set pagination
        var pageStr = '<div class="row text-center padding-top-xs" id="results-pagination"><p><small><span>';
        if (page > 1) {
            pageStr += '<a href="#" id="previous">&lt; Previous</a> | ' + (startPos + 1) + ' to ';
        } else {
            pageStr += '&lt; Previous | ' + (startPos + 1) + ' to ';
        }
        if (endPos < count) {
            pageStr += endPos + ' of ' + humanise(count) +
                ' | <a href="#" id="next">Next &gt;</a></span></small></p></div>';
        } else {
            pageStr += humanise(count) + ' of ' + humanise(count) +
                ' | Next &gt;</span></small></p></div>';
        }


        $("#search_results").html(results['results'] + pageStr);
        $("#search_results").attr("data-page", page);
        $("#search_results").attr("data-api", searchQuery);
        $("#search_results").slideDown();
        $('#search_submit_btn').fadeTo(300, 1);
        $('#search_submit_btn').blur();
        $('#search_submit_btn').html("Search");
        $('.marc-record').addClass('vcenter');
        $('.marc-record').addClass('hcenter');
        $('.marc-record').addClass('iecenter');
        addOclcLinks();
        stripTrailingSlashes();
    }, error: function(jqXhr, textStatus, errorThrown) {
      var res = JSON.parse(jqXhr.responseText)
      if (jqXhr.status == 404){
	 $("#search_error_text").html("No results found")
	 $("#search_error").show();
      } else if (res['message'] == "Truncated words too short") {
	 $("#search_error_text").html("Search terms too short")
	 $("#search_error").show();
      } else {
        $('#error-details').html("Error: " + res['message']);
        $('#error').show();
      }
        $('#search_submit_btn').fadeTo(300, 1);
        $('#search_submit_btn').blur();
        $('#search_submit_btn').html("Search");
    }
  });
}


function addOclcLinks() {
    $(".marc-record").each(function() {
        $(this).find('a:first').attr('href', 'http://www.worldcat.org/title/apis/oclc/' + $(this).find('div:first').attr('id'));
    });
}


function humanise(str) {
    return String(str).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
}


//Select the catalogue record
$(document).delegate('.marc-btn', 'click', function(e) {
    $("#oclc_search_form").slideUp();
    $("#search_results").slideUp();
    $("#results_count").html('');
    $("#selected_record").html($("#" + $(this).attr('data-control-num')).html() + '<a href="#" id="search_again"><small>Search Again</small></a><hr>');
    $("#selected_record").attr('data-selected-oclc', $(this).attr('data-control-num'));
    $("#selected_record").show();
    $("#shelfmark_form").slideDown();
    $("#shelfmark_field").focus();
});



//Return to the search form
$(document).delegate('#search_again', 'click', function(e) {
    $("#selected_record").slideUp();
    $("#oclc_search_form").slideDown();
    $("#shelfmark_form").slideUp();
});


//Highlight the shelf mark location
$("#shelfmark_field").focus(function() {
    var container = $("#image_container");
    $('<div class="child" style="position: absolute"/>')
        .appendTo($("#image_container"))
        .css("left", container.width() - (.6 * container.width()) + "px")
        .css("bottom", container.height() - (.4 * container.height()) + "px")
        .css("width", (.6 * container.width()) + "px")
        .css("height", (.4 * container.height()) + "px")
        .css("border", "1px solid " + 'blue');
});


//Remove the shelf mark highlight
$("#shelfmark_field").blur(function() {
    $("#image_container").children('div:last-child').remove();
});


//Go to the next search result page
$(document).delegate('#next', 'click', function(e) {
    $('#search_submit_btn').html('<span class="fa fa-refresh spinning"></span> Searching');
    $("#search_results").slideUp();
    $('#search_submit_btn').fadeTo(500, 0.3);
    performSearch($("#search_results").attr("data-api"), parseInt($("#search_results").attr("data-page")) + 1);
});


//Go to the previous search result page
$(document).delegate('#previous', 'click', function(e) {
    $('#search_submit_btn').html('<span class="fa fa-refresh spinning"></span> Searching');
    $("#search_results").slideUp();
    $('#search_submit_btn').fadeTo(500, 0.3);
    performSearch($("#search_results").attr("data-api"), parseInt($("#search_results").attr("data-page")) - 1);
});


//Remove any trailing slashes from the returned records
function stripTrailingSlashes() {
    $("record a").each(function() {
        str = $(this).text();
        if (str.substr(-1) == '/') {
            $(this).text(str.substr(0, str.length - 1));
        }
    });
}


//Close alert windows
$(document).delegate('.close', 'click', function(e) {
    $(this).parent().hide();
});


pybossa.taskLoaded(function(task, deferred) {
    if (!$.isEmptyObject(task)) {
        loadUserProgress();
        // load image from flickr
        var img = $('<img />');
        img.load(function() {
            // continue as soon as the image is loaded
            deferred.resolve(task);
        });
        img.attr('src', task.info.url_b + "?now=" + new Date().getTime()).css('max-height', 460);
        img.addClass('img-thumbnail img-responsive');
        task.info.image = img;
    } else {
	deferred.resolve(task);
    }
});

$(document).delegate('#shelfmark_form', 'submit', function(e) {
    e.preventDefault();
    $('.btn-answer').triggerHandler('click');
});

pybossa.presentTask(function(task, deferred) {
    $("#loading").fadeIn(500);
    if (!$.isEmptyObject(task)) {
        loadUserProgress();
        $('#photo-link').html('').append(task.info.image);
        $("#photo-link").attr("href", task.info.link);
        $('#task-id').html(task.id);
        $('#shelfmark_form').trigger("reset");
        $('#oclc_search_form').trigger("reset");
        $("#shelfmark_form").hide();
        $("#search_results").slideUp();
        $('#comments').removeClass('in');
        $('#comments').attr('aria-expanded', 'false');
        $('#comments_btn').attr('aria-expanded', 'false');
        $("#search_error").hide();
        $("#oclc_search_form").show();
        $("#selected_record").html('');
        $("#selected_record").attr('data-selected-oclc', '');
        $("#comments_field").val('');
        $("#results_count").html('');
        $("#selected_record").hide();
        $("#title_field").focus();
        $("#loading").fadeOut(500);
        $('.btn-answer').off('click').on('click', function(evt) {
            if (typeof $(this).attr("value") != 'undefined') {
                task.answer = $("#shelfmark_form").serializeJSON();
                task.answer.title = task.info.title;
                task.answer.oclc = $("#selected_record").attr('data-selected-oclc');
		if (task.answer.oclc.length > 0) {
                  task.answer.worldcat_url = 'https://www.worldcat.org/oclc/' + task.answer.oclc;
                } else {
                  task.answer.worldcat_url = '';
                }
                task.answer.ip_address = $('#client_ip').html();
                task.answer.comments = $('#comments_field').val();
                task.answer.shelfmark = $("#shelfmark_field").val().replace(/,/g, ".").replace(/ /g, '.').replace(/\.+/g,'.').replace(/\.$/, "").replace(/^\./, "").replace(/^chi/i, "CHI");pybossa.saveTask(task.id, task.answer)
                    .done(function() {
                        $("#success").fadeIn(500).fadeOut(1000);
                        deferred.resolve();
                    })
                    .fail(function(e) {
                        $('#error-details').html("Error: Answer submission failed");
                        $("#error").show();
                    });
            } else {
              	$('#error-details').html("Error: Answer undefined");
                $("#error").show();
            }
        });
        $("#loading").hide();
    } else {
      $(".skeleton").hide();
      $('#image_container').hide();
      $("#loading").hide();
      $("#completed-row").show();
    }
});

pybossa.run('{{project.short_name}}');
</script>
