{% extends "/base.html" %}
{% set active_page = "globalstats" %}
{% set active_app  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<!-- Leaflet maps -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<link href="{{url_for('static', filename='css/stats/MarkerCluster.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.Default.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='js/stats/leaflet.markercluster.js')}}" type="text/javascript"></script>
<div class="container container-main">
    {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
                {{ privacy.render_lock_page() }}
            {% else %}
            <div class="row padding-bottom-sm">
                <div class="col-xs-12">
                    <div class="white-rounded">
                        <h3 class="text-center"><span class="check-plural" data-num="{{stats.n_total_users}}" data-noun="volunteer"></span> have participated in <span class="check-plural" data-num="{{stats.n_published_apps}}" data-noun="project"></span>, submitted <span class="check-plural" data-num="{{stats.n_task_runs}}" data-noun="answer"></span> and completed <span class="check-plural" data-num="{{stats.n_tasks_completed}}" data-noun="task"></span></h4>
                    </div>
                </div>
            </div>
            
            <div class="row padding-bottom-sm">
                <div class="col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Answers Submitted and Tasks Completed per Day</h4>
                        <div id="task-date-chart">
                            <canvas id="task-date" style="max-height:300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding-bottom-sm">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-rounded chart-inline">
                        <h4 class="text-center padding-bottom-sm">Top Volunteers This Week</h4>
                        <div id="top-users-chart">
                            <canvas id="top-users" width="500" height="500"></canvas>
                            <div id="top-users-legend" class="padding-top-sm legend">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Top Projects This Week</h4>
                        <div id="top-projects-chart">
                            <canvas id="top-projects" width="500" height="500"></canvas>
                            <div id="top-projects-legend" class="padding-top-sm legend">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding-bottom-sm">
                <div class="col-sm-4 col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Proportion of Authenticated Users</h4>
                        <div id="user-chart">
                            <canvas id="users" width="500" height="500"></canvas>
                            <div id="users-legend" class="padding-top-sm legend">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Total Daily Activity</h4>
                        <div id="dow-chart">
                            <canvas id="dow" width="500" height="500"></canvas>
                            <div id="dow-legend" class="padding-top-sm legend">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Status of Tasks</h4>
                        <div id="task-status-chart">
                            <canvas id="task-status" width="500" height="500"></canvas>
                            <div id="task-status-legend" class="padding-top-sm legend">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding-bottom-sm">
                <div class="col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Active Volunteers per Day</h4>
                        <div id="users-daily-chart">
                            <canvas id="users-daily" style="max-height:300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding-bottom-sm">
                <div class="col-xs-12">
                    <div class="white-rounded text-center chart">
                        <h4 class=" padding-bottom-sm">Locations of Anonymous Users</h4>
                        <div id="map" style="height:480px;"></div>
                    </div>
                </div>
            </div>  
            {% endif %}
</div>
<script src="{{url_for('static', filename='js/vendor/Chart.js-master/Chart.js')}}"></script>
<script>{% include {{url_for('static', filename='js/charts.js')}} %}</script>
{% endblock %}
