{% extends "/base.html" %}
{% set active_page = "leaderboard" %}
{% set active_app  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<span class="set-main-bg" data-bg="pattern-white-wall"></span>
<!-- Leaflet maps -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<link href="{{url_for('static', filename='css/stats/MarkerCluster.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.Default.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/stats.css')}}" rel="stylesheet" type="text/css">
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script src="{{url_for('static', filename='js/stats/leaflet.markercluster.js')}}" type="text/javascript"></script>
<div class="container container-padded">
    {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
                {{ privacy.render_lock_page() }}
            {% else %}
            <div class="row container-padded">
                <div class="col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Tasks Completed per Day</h4>
                        <div id="task-date-chart">
                            <canvas id="task-date" style="max-height:300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="white-rounded chart">
                        <h4 class="text-center padding-bottom-sm">Proportion of Authenticated Users</h4>
                        <div id="user-chart">
                            <canvas id="users" width="500" height="300"></canvas>
                            <div id="users-legend" class="padding-top-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row container-padded">
                <div class="col-xs-12">
                    <div class="white-rounded text-center chart">
                        <h4 class=" padding-bottom-sm">Locations of Anonymous Users</h4>
                        <div id="map" style="height:300px;"></div>
                    </div>
                </div>
            </div>  
            {% endif %}
</div>
<script src="{{url_for('static', filename='js/vendor/Chart.js-master/Chart.js')}}"></script>
<script>
Chart.defaults.global = {
    // Boolean - Whether to animate the chart
    animation: true,

    // Number - Number of animation steps
    animationSteps: 60,

    // String - Animation easing effect
    animationEasing: "easeOutQuart",

    // Boolean - If we should show the scale at all
    showScale: true,

    // Boolean - If we want to override with a hard coded scale
    scaleOverride: false,

    // ** Required if scaleOverride is true **
    // Number - The number of steps in a hard coded scale
    scaleSteps: null,
    // Number - The value jump in the hard coded scale
    scaleStepWidth: null,
    // Number - The scale starting value
    scaleStartValue: null,

    // String - Colour of the scale line
    scaleLineColor: "rgba(0,0,0,.1)",

    // Number - Pixel width of the scale line
    scaleLineWidth: 1,

    // Boolean - Whether to show labels on the scale
    scaleShowLabels: true,

    // Interpolated JS string - can access value
    scaleLabel: "<%=value%>",

    // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
    scaleIntegersOnly: true,

    // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero: false,

    // String - Scale label font declaration for the scale label
    scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Scale label font size in pixels
    scaleFontSize: 12,

    // String - Scale label font weight style
    scaleFontStyle: "normal",

    // String - Scale label font colour
    scaleFontColor: "#666",

    // Boolean - whether or not the chart should be responsive and resize when the browser does.
    responsive: true,

    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,

    // Boolean - Determines whether to draw tooltips on the canvas or not
    showTooltips: true,

    // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
    customTooltips: false,

    // Array - Array of string names to attach tooltip events
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],

    // String - Tooltip background colour
    tooltipFillColor: "rgba(0,0,0,0.8)",

    // String - Tooltip label font declaration for the scale label
    tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip label font size in pixels
    tooltipFontSize: 14,

    // String - Tooltip font weight style
    tooltipFontStyle: "normal",

    // String - Tooltip label font colour
    tooltipFontColor: "#fff",

    // String - Tooltip title font declaration for the scale label
    tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip title font size in pixels
    tooltipTitleFontSize: 14,

    // String - Tooltip title font weight style
    tooltipTitleFontStyle: "bold",

    // String - Tooltip title font colour
    tooltipTitleFontColor: "#fff",

    // Number - pixel width of padding around tooltip text
    tooltipYPadding: 6,

    // Number - pixel width of padding around tooltip text
    tooltipXPadding: 6,

    // Number - Size of the caret on the tooltip
    tooltipCaretSize: 8,

    // Number - Pixel radius of the tooltip border
    tooltipCornerRadius: 6,

    // Number - Pixel offset from point x to tooltip edge
    tooltipXOffset: 10,

    // Function - Will fire on animation progression.
    onAnimationProgress: function(){},

    // Function - Will fire on animation completion.
    onAnimationComplete: function(){},
    
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,

    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",
    
    tooltipTemplate: "<%%><%=label%><%%>",

    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,

    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 50, // This is 0 for Pie charts

    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,

    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,

    //String - A legend template
    legendTemplate : '<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++)\u007D%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label)\u007D%><%=segments[i].label%\u007B<%}%></li><%\u007B%></ul>'
}

</script>
    <script>
    $(function(){
        
        //User proportions chart
        var userData = {{users|safe}};
        var data = [
        {
            value: userData['values'][0]['value'][1],
            color: "rgba(151,187,205,1)",
            highlight: "rgba(151,187,205,0.8)",
            label: userData['values'][0]['label'] + ": " + userData['values'][0]['value'][1]
        },
        {
            value : userData['values'][1]['value'][1],
            color:"#BA0000",
            highlight: "#D00000",
            label: userData['values'][1]['label'] + ": " + userData['values'][1]['value'][1]
        }
        ];
        var canvas = document.getElementById("users");
        var ctx = canvas.getContext("2d");
        var myDoughnut = new Chart(ctx).Doughnut(data);
        var legendHolder = document.getElementById('users-legend')
      // Include a html legend template after the module doughnut itself
      var helpers = Chart.helpers;
      helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
          helpers.addEvent(legendNode, 'mouseover', function(){
              var activeSegment = myDoughnut.segments[index];
              activeSegment.save();
              activeSegment.fillColor = activeSegment.highlightColor;
              myDoughnut.showTooltip([activeSegment]);
              activeSegment.restore();
          });
      });
      helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
          myDoughnut.draw();
      });
      canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
          

          myDoughnut.generateLegend();
          document.getElementById('users-legend').innerHTML = myDoughnut.generateLegend();
    });
    (function(){
        var map = L.map('map');
        map.fitWorld();
        map.setZoom(1);
        var url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
        L.tileLayer(url, 
            {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> &mdash; <a href="http://www.maxmind.com">MaxMind</a>',
            scrollWheelZoom: false,
            maxZoom: 18,
            minZoom:1
            }).addTo(map);
    
        var i = 0;
        var locations = {{locs|safe}};
        var l = locations.length;
        var markers = new L.MarkerClusterGroup();
        for (i;i<l;i++) {
            if (locations[i].loc != null) {
                var lat = parseFloat(locations[i].loc.latitude);
                var lng = parseFloat(locations[i].loc.longitude);
                markers.addLayer(L.marker([lat,lng]));
            }
        }
        map.addLayer(markers);
    })();
    
$(function(){
    $(window).on("resize", function () {
            var taskDateData = {{task_run_dates|safe}};
            var data = {
                labels: taskDateData['days'],
                datasets: [
                    {
                        label: "Tasks Completed per Day",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: taskDateData['tasks']
                    }
                ]
            };
        $("#task-date").attr("width", $('#task-date-chart').width());
        $("#task-date").attr("height", 300);
        var ctx = $("#task-date")[0].getContext("2d");
        var opts = {tooltipTemplate: "<%%><%=label%>: <%=value%> tasks<%%>"};
        var taskDateChart = new Chart(ctx).Line(data, opts);
        taskDateChart.draw();
        Chart.defaults.global.animation = false;
    }).resize();
});
</script>
{% endblock %}
